#!/bin/sh
##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##
set -e

logdir='{{ galaxy_log_dir }}'
archivedir='{{ galaxy_log_archive_dir }}/{{ ansible_hostname }}'
otherlogs="cleanup.log"

[ ! -d "${archivedir}" ] && mkdir "${archivedir}"

for logfile in ${logdir}/uwsgi*.log.*; do 
    if [ "${logfile}" != "${logdir}/uwsgi*.log.*" ]; then
        base=`basename ${logfile} | awk -F. '{print $1}'` &&
        stamp=`basename ${logfile} | awk -F. '{print $NF}'` &&
        ymdhms=`date -d @${stamp} +'%Y%m%d-%H%M%S'` &&
        cat ${logfile} | gzip > ${archivedir}/${base}.log.${ymdhms}.gz &&
        rm -f ${logfile}
    fi
done

for logfile in ${logdir}/{{ galaxy_instance_codename }}_*.log.* ${logdir}/handler*.log.*; do
    if  [ "${logfile}" != "${logdir}/{{ galaxy_instance_codename }}_*.log.*" ]; then
        stamp=`stat ${logfile} --printf=%Y` &&
        ymdhms=`date -d @${stamp} +'%Y%m%d-%H%M%S'` &&
        fbase=`basename ${logfile} | sed -e 's/\.log\..*/.log/'`
        cat ${logfile} | gzip > ${archivedir}/${fbase}.${ymdhms}.gz &&
        rm -f ${logfile}
    fi
done
