##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen       *:443 ssl;
    server_name nate01.galaxyproject.org;

    # Enable HSTS (age is 180 days)
    add_header Strict-Transport-Security "max-age=15552000; includeSubdomains";

    access_log /var/log/nginx/nate01.access.log;
    error_log /var/log/nginx/nate01.error.log;

    location / {
        proxy_pass         http://127.0.0.1:8192;
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }

    location /static {
        alias /corral4/ndc/nate01/static;
    }

    # serve visualization and interactive environment plugin static content
    location ~ ^/plugins/(?<plug_type>[^/]+?)/((?<vis_d>[^/_]*)_?)?(?<vis_name>[^/]*?)/static/(?<static_file>.*?)$ {
        alias /corral4/ndc/nate01/config/plugins/$plug_type/;
        try_files $vis_d/${vis_d}_${vis_name}/static/$static_file
                  $vis_d/static/$static_file =404;
    }

    location /_x_accel_redirect {
        internal;
        alias /;
    }

    #location /_upload {
    #    upload_store /corral4/ndc/upload;
    #    upload_store_access user:rw; # group:rw all:rw;
    #    upload_pass_form_field "";
    #    upload_set_form_field "__${upload_field_name}__is_composite" "true";
    #    upload_set_form_field "__${upload_field_name}__keys" "name path";
    #    upload_set_form_field "${upload_field_name}_name" "$upload_file_name";
    #    upload_set_form_field "${upload_field_name}_path" "$upload_tmp_path";
    #    upload_pass_args on;
    #    upload_pass /_upload_done;
    #}

    #location /_upload_done {
    #    internal;
    #    set $dst /api/tools;
    #    if ($args ~ nginx_redir=([^&]+)) {
    #        set $dst $1;
    #    }
    #    rewrite "" $dst;
    #}

    #location /_job_files {
    #    if ($request_method != POST) {
    #        rewrite "" /api/jobs/$arg_job_id/files last;
    #    }
    #    upload_store /corral4/ndc/upload_job_files;
    #    upload_store_access user:rw;
    #    upload_pass_form_field "";
    #    upload_set_form_field "__${upload_field_name}_path" "$upload_tmp_path";
    #    upload_pass_args on;
    #    upload_pass /_upload_job_files_done;
    #}

    #location /_upload_job_files_done {
    #    internal;
    #    rewrite "" /api/jobs/$arg_job_id/files;
    #}

    # overridden static content
    location /static/terms.html {
        alias {{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/static/terms.html;
    }

    location /static/welcome.html {
        alias {{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/static/welcome.html;
    }

    location /static/welcome_img {
        alias {{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/static/welcome_img;
        expires 2h;
    }

    # error docs
    error_page  502 503 504 /error/502/index.shtml;
    error_page  413         /error/413/index.html;
    location /error {
        ssi on;
        root {{ nginx_srv }}/{{ galaxy_instance_hostname }};
    }

}

# Galaxy Interactive Tools (GxITs)
server {
    listen       *:443 ssl;
    server_name  *.interactivetool.nate01.galaxyproject.org;

    # Enable HSTS (age is 180 days)
    add_header Strict-Transport-Security "max-age=15552000; includeSubdomains";

    access_log  /var/log/nginx/nate01-gxit-proxy.access.log;
    error_log   /var/log/nginx/nate01-gxit-proxy.error.log;

    location / {
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_pass http://localhost:8193;
    }

    # error docs
    error_page  502 503 504 /error/502/index.shtml;
    error_page  413         /error/413/index.html;
    location /error {
        ssi on;
        root {{ nginx_srv }}/{{ galaxy_instance_hostname }};
    }

}

# vim: set filetype=nginx
