##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

server {
    listen       *:443 ssl;
    server_name tacc-protected.galaxyproject.org;

    access_log /var/log/nginx/protected.access.log;
    error_log /var/log/nginx/protected.error.log;

    location / {
        return 302 https://usegalaxy.org;
    }
}

# vim: set filetype=nginx
