##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

# Galaxy Interactive Tools (GxITs)
server {
    listen       *:443 ssl;
    server_name  *.interactivetool.usegalaxy.org;

    # Enable HSTS (age is 180 days)
    add_header Strict-Transport-Security "max-age=15552000; includeSubdomains";

    access_log  /var/log/nginx/main-gxit-proxy.access.log;
    error_log   /var/log/nginx/main-gxit-proxy.error.log;

    location / {
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        {#- FIXME: runs from the test env so the proxy port would be test's #}
        proxy_pass http://localhost:8980;
    }

    # error docs
    #error_page  502 503 504 /error/502/index.shtml;
    #error_page  413         /error/413/index.html;
    #location /error {
    #    ssi on;
    #    root /srv/nginx/galaxy;
    #}

}

# For path-based GxIT requests proxied from usegalaxy.org
server {
    listen      {{ lookup('dig', inventory_hostname) }}:8980;
    server_name usegalaxy.org;

    {# FIXME: if not cohosted with Test this could loop the galaxyservers group to get IPs -#}
    allow 129.114.60.60/32;
    allow 129.114.60.56/32;
    deny all;

    access_log  /var/log/nginx/main-gxit-path-proxy.access.log;
    error_log   /var/log/nginx/main-gxit-path-proxy.error.log;

    location / {
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_pass http://localhost:8980;
    }
}

# vim: set filetype=nginx
