## Place local configuration variables used by the LWR and run.sh in here. For example

## If using the drmaa queue manager, you will need to set the DRMAA_LIBRARY_PATH variable,
## you may also need to update LD_LIBRARY_PATH for underlying library as well.
{% if pulsar_drmaa_library_path is defined %}
export DRMAA_LIBRARY_PATH={{ pulsar_drmaa_library_path }}
{% endif %}

## If you wish to use a variety of Galaxy tools that depend on galaxy.eggs being defined,
## set GALAXY_HOME to point to a copy of Galaxy.
{% if galaxy_server_dir is defined %}
export GALAXY_HOME={{ galaxy_server_dir }}
{% endif %}

## Uncomment to verify GALAXY_HOME is set properly before starting the LWR.
#export TEST_GALAXY_LIBS=1

## If using a manager that runs jobs as real users, be sure to load your Python
## environement in here as well.
# . .venv/bin/activate
