;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:galaxy_uwsgi_zergpool]
command         = /usr/bin/sg {{ galaxy_system_group }} '{{ galaxy_venv_dir }}/bin/uwsgi --master --zerg-pool {{ galaxy_mutable_data_dir }}/zergpool.sock:127.0.0.1:4001 --logto {{ galaxy_log_dir }}/zergpool.log'
directory       = {{ galaxy_server_dir }}
process_name    = zergpool
priority        = 899
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 5
user            = {{ galaxy_user }}
environment     = HOME={{ ('~' ~ galaxy_user) | expanduser }},VIRTUAL_ENV={{ galaxy_venv_dir }},PATH={{ galaxy_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin
numprocs        = 1
stopsignal      = INT
stdout_logfile  = {{ supervisord_log_dir }}/zergpool.log
redirect_stderr = true

{% for i in [ 0, 1 ] %}
[program:galaxy_uwsgi_zergling{{ i }}]
command         = /usr/bin/sg {{ galaxy_system_group }} '{{ galaxy_venv_dir }}/bin/uwsgi --{{ galaxy_config_style | default('ini') }} {{ galaxy_uwsgi_config_file | default(galaxy_config_file) }} --stats 127.0.0.1:919{{ i }} --logto {{ galaxy_log_dir }}/zergling{{ i }}.log'
directory       = {{ galaxy_server_dir }}
process_name    = zergling{{ i }}
priority        = 999
umask           = 022
autostart       = {{ "true" if i == 0 else "false" }}
autorestart     = unexpected
startsecs       = 10
user            = {{ galaxy_user }}
environment     = HOME={{ ('~' ~ galaxy_user) | expanduser }},VIRTUAL_ENV={{ galaxy_venv_dir }},PATH={{ galaxy_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin,PYTHONPATH={{ galaxy_dynamic_rule_dir }}
stopsignal      = INT
stopwaitsecs    = 65
stdout_logfile  = {{ supervisord_log_dir }}/zergling{{ i }}.log
redirect_stderr = true

{% endfor %}
[group:galaxy_{{ galaxy_instance_codename }}_uwsgi]
programs        = galaxy_uwsgi_zergpool,galaxy_uwsgi_zergling0,galaxy_uwsgi_zergling1
