;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:galaxy_unicornherder]
command         = {{ galaxy_venv_dir }}/bin/unicornherder --pidfile {{ galaxy_mutable_data_dir }}/herder.pid -- 'galaxy.webapps.galaxy.fast_factory:factory()' --timeout 300 --pythonpath lib -k galaxy.webapps.galaxy.workers.Worker -b 127.0.0.1:8080 --access-logfile {{ galaxy_log_dir }}/gunicorn.access.log --error-logfile {{ galaxy_log_dir }}/gunicorn.error.log --capture-output
directory       = {{ galaxy_server_dir }}
process_name    = unicornherder
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 15
stopwaitsecs    = 65
user            = {{ galaxy_user }}
environment     = HOME={{ ('~' ~ galaxy_user) | expanduser }},VIRTUAL_ENV={{ galaxy_venv_dir }},PATH={{ galaxy_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin,GALAXY_CONFIG_FILE={{ galaxy_config_file }},UNICORNHERDER_LOGLEVEL=info
numprocs        = 1
stdout_logfile  = {{ supervisord_log_dir }}/unicornherder.log
redirect_stderr = true

[program:galaxy_celery]
command         = {{ galaxy_venv_dir }}/bin/celery --app galaxy.celery worker --concurrency 2 -l debug
directory       = {{ galaxy_server_dir }}
process_name    = celery
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 10
stopwaitsecs    = 65
user            = {{ galaxy_user }}
environment     = HOME={{ ('~' ~ galaxy_user) | expanduser }},VIRTUAL_ENV={{ galaxy_venv_dir }},PATH={{ galaxy_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin,PYTHONPATH={{ galaxy_server_dir }}/lib,GALAXY_CONFIG_FILE={{ galaxy_config_file }}
numprocs        = 1
stdout_logfile  = {{ supervisord_log_dir }}/celery.log
redirect_stderr = true

[program:galaxy_celery_beat]
command         = {{ galaxy_venv_dir }}/bin/celery --app galaxy.celery beat -s {{ galaxy_mutable_data_dir }}/celerybeat-schedule.dat -l debug
directory       = {{ galaxy_server_dir }}
process_name    = celery-beat
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 10
stopwaitsecs    = 65
user            = {{ galaxy_user }}
environment     = HOME={{ ('~' ~ galaxy_user) | expanduser }},VIRTUAL_ENV={{ galaxy_venv_dir }},PATH={{ galaxy_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin,PYTHONPATH={{ galaxy_server_dir }}/lib,GALAXY_CONFIG_FILE={{ galaxy_config_file }}
numprocs        = 1
stdout_logfile  = {{ supervisord_log_dir }}/celery-beat.log
redirect_stderr = true

[group:galaxy_{{ galaxy_instance_codename }}_web]
programs        = galaxy_unicornherder,galaxy_celery,galaxy_celery_beat
