;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:galaxy_workflow_scheduler]
command         = /usr/bin/sg {{ galaxy_system_group }} '{{ galaxy_venv_dir }}/bin/python ./scripts/galaxy-main -c {{ galaxy_config_dir }}/galaxy.ini --server-name={{ galaxy_host_codename }}_workflow_scheduler%(process_num)s'
directory       = {{ galaxy_server_dir }}
process_name    = workflow_scheduler%(process_num)s
numprocs        = {{ galaxy_workflow_scheduler_count }}
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 30
user            = {{ galaxy_user }}
environment     = HOME={{ ('~' ~ galaxy_user) | expanduser }},VIRTUAL_ENV={{ galaxy_venv_dir }},PATH={{ galaxy_venv_dir }}/bin:/cvmfs/{{ galaxy_instance_codename }}.galaxyproject.org/deps/_conda/envs/set_meta/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin,PYTHONPATH={{ galaxy_dynamic_rule_dir }}
stdout_logfile  = {{ galaxy_log_dir }}/workflow_scheduler%(process_num)s.log
stdout_logfile_maxbytes = 128MB
stdout_logfile_backups = 64
redirect_stderr = true
