;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[group:galaxy_{{ galaxy_instance_codename }}]
programs = galaxy_handler{{ ",galaxy_impersonate" if ("galaxy_impersonate" in supervisord_group_configs + supervisord_host_configs) else "" }}{{ ",galaxy_reports" if ("galaxy_reports" in supervisord_group_configs + supervisord_host_configs) else "" }}{{ ",galaxy_datamanager" if ("galaxy_datamanager" in supervisord_group_configs + supervisord_host_configs) else "" }}
