;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:galaxy_{{ galaxy_instance_codename }}_gie_proxy]
command         = node /srv/galaxy/{{ galaxy_instance_codename }}/interactive_environments/proxy/lib/main.js --ip 0.0.0.0 --port 8800 --sessions /srv/galaxy/{{ galaxy_instance_codename }}/var/gie_proxy_session_map.sqlite --cookie galaxysession --verbose
directory       = /srv/galaxy/{{ galaxy_instance_codename }}/interactive_environments/proxy
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 5
user            = g2test
numprocs        = 1
stdout_logfile  = /srv/galaxy/{{ galaxy_instance_codename }}/log/gie_proxy-access.log
stderr_logfile  = /srv/galaxy/{{ galaxy_instance_codename }}/log/gie_proxy-error.log
