;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:galaxy_datamanager]
command         = /usr/bin/sg {{ galaxy_system_group }} '{{ galaxy_datamanager_venv_dir }}/bin/python ./scripts/paster.py serve {{ galaxy_config_dir }}/datamanager.ini --server-name=%(program_name)s --pid-file={{ instance_root }}/var/run/%(program_name)s.pid'
directory       = {{ galaxy_server_dir }}
process_name	= datamanager
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 30
user            = {{ galaxy_user }}
environment     = VIRTUAL_ENV={{ galaxy_datamanager_venv_dir }},PATH={{ galaxy_datamanager_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin
stdout_logfile  = {{ galaxy_log_dir }}/datamanager.log
stdout_logfile_maxbytes = 128MB
stdout_logfile_backups = 64
redirect_stderr = true
