;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

{# sigh #}
{%- set supervisor_configs = host_supervisor_configs | default([]) + galaxyservers_group_supervisor_configs | default([]) + galaxywebservers_group_supervisor_configs | default([]) + galaxystagingservers_group_supervisor_configs | default([]) + galaxyjobservers_group_supervisor_configs | default([]) %}
{%- set ns = namespace(programs=[]) %}
{%- if "galaxy_handler" in supervisor_configs %}
{%- set ns.programs = ns.programs + ["galaxy_handler"] %}
{%- endif %}
{%- if "galaxy_dynamic_handler" in supervisor_configs %}
{%- for handler_specs in galaxy_handlers %}
{%- set ns.programs = ns.programs + ["galaxy_handler_" ~ handler_specs.pool | default('default')] %}
{%- endfor %}
{%- endif %}
{%- if "galaxy_workflow_scheduler" in supervisor_configs %}
{%- set ns.programs = ns.programs + ["galaxy_workflow_scheduler"] %}
{%- endif %}
{%- if "galaxy_impersonate" in supervisor_configs %}
{%- set ns.programs = ns.programs + ["galaxy_impersonate"] %}
{%- endif %}
{%- if "galaxy_datamanager" in supervisor_configs %}
{%- set ns.programs = ns.programs + ["galaxy_datamanager"] %}
{%- endif %}

[group:galaxy_{{ galaxy_instance_codename }}]
programs = {{ ns.programs | join(",") }}
