[program:{{ galaxy_instance_codename }}_pulsar]
command         = {{ pulsar_root }}/venv/bin/pulsar -c {{ pulsar_config_dir }} -m webless
directory       = {{ pulsar_root }}
umask           = 077
autostart       = true
autorestart     = true
startsecs       = 15
numprocs        = 1
stopsignal      = INT
stopasgroup     = true
killasgroup     = true
stdout_logfile  = {{ pulsar_root }}/log/pulsar.log
redirect_stderr = true
environment     = PATH="{{ pulsar_venv_dir }}/bin:%(ENV_PATH)s"
