*~
*.*.swp
*.retry

# Python bytecode
*.pyc

# Test output
.pytest_cache/

# Ignore specific roles installed with Ansible Galaxy. Once they're all moved, this can be roles/*.*
roles/galaxyproject.cvmfsexec
roles/galaxyproject.galaxy
roles/galaxyproject.galaxy_toolshed
roles/galaxyproject.miniconda
roles/galaxyproject.nginx
roles/galaxyproject.postgresql
roles/galaxyproject.proftpd
roles/galaxyproject.pulsar
roles/galaxyproject.tiaas2
roles/galaxyproject.tusd
roles/usegalaxy_eu.certbot
roles/usegalaxy_eu.tiaas2
roles/usegalaxy_eu.tpv_auto_lint

# Macs
.DS_Store
