*~
*.*.swp
*.retry

# Python bytecode
*.pyc

# Test output
.pytest_cache/

# Ignore specific roles installed with Ansible Galaxy. Once they're all moved, this can be roles/*.*
roles/galaxyproject.postgresql
roles/galaxyproject.galaxy
roles/galaxyproject.galaxy_toolshed
roles/galaxyproject.nginx
roles/usegalaxy-eu.certbot
