{# my kingdom for a `strip` j2 filter #}

{% macro prefix() -%}
{% set gprefix = interactive_environments_galaxy_proxy_prefix | regex_replace("^/+|/+$", "") %}
{% set ieprefix = interactive_environments_proxy_prefix | regex_replace("^/+|/+$", "") %}
{% if gprefix != '' %}
{{ '/' ~ gprefix ~ '/' ~ ieprefix -}}
{% else %}
{{ '/' ~ ieprefix -}}
{% endif %}
{%- endmacro %}
