;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

{% set ie_config = item.contents %}
{% for section in ie_config %}
[{{ section }}]
{% for opt in ie_config[section] %}
{{ opt }} = {{ ie_config[section][opt] }}
{% endfor %}
{% endfor %}
