---

## used by: galaxyproject.nginx
nginx_flavor: full

nginx_conf_ssl_certificate: radegast.galaxyproject.org_cert.pem
nginx_conf_ssl_certificate_key: radegast.galaxyproject.org_privatekey.pem
nginx_conf_ssl_trusted_certificate: incommon_chain.pem
# TODO: disable 1.0, 1.1
nginx_conf_ssl_protocols:
    - TLSv1
    - TLSv1.1
    - TLSv1.2

nginx_conf_http:
  server_names_hash_bucket_size: 128
  client_max_body_size: 1g
  proxy_read_timeout: 3600
  gzip_vary: 'on'
  gzip_proxied: any
  gzip_comp_level: 6
  gzip_buffers: 16 8k
  gzip_http_version: 1.1
  gzip_types: text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript


## used by: galaxyproject.galaxy
nginx_srv: /srv/nginx


## used by the sysctl task in the stack playbook
sysctl_conf:
  - name: net.core.rmem_max
    value: 15990784
  - name: net.core.wmem_max
    value: 15990784
