##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

# For inclusion in a server{} block

{% from '_prefix.j2' import prefix with context %}

# regular proxy
location {{ prefix() }} {
    proxy_pass http://localhost:{{ interactive_environments_proxy_port }}{{ prefix() }};
    proxy_redirect off;
}
