;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[group:galaxy_{{ galaxy_instance_codename }}]
programs = {{ galaxy_host_codename }}_handler{{ "," ~ galaxy_host_codename ~ "_impersonate" if ("galaxy_impersonate.conf" in supervisord_group_configs + supervisord_host_configs) else "" }}{{ "," ~ galaxy_host_codename ~ "_reports" if ("galaxy_reports.conf" in supervisord_group_configs + supervisord_host_configs) else "" }}{{ "," ~ galaxy_host_codename ~ "_installer" if ("galaxy_installer.conf" in supervisord_group_configs + supervisord_host_configs) else "" }}{{ "," ~ galaxy_host_codename ~ "_datamanager" if ("galaxy_datamanager.conf" in supervisord_group_configs + supervisord_host_configs) else "" }}
