;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:galaxy_{{ galaxy_instance_codename }}_uwsgi]
command         = /usr/bin/sg {{ galaxy_group }} '{{ galaxy_venv_dir }}/bin/uwsgi --ini {{ galaxy_config_dir }}/uwsgi.ini'
directory       = {{ galaxy_web_server_dir }}
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 15
user            = {{ galaxy_user }}
environment     = PYTHON_EGG_CACHE={{ instance_root }}/var/python-egg-cache-{{ galaxy_host_codename }}_uwsgi,GALAXY_EGGS_PATH={{ galaxy_web_eggs_path }},HOME={{ ('~' ~ galaxy_user) | expanduser }}
numprocs        = 1
stopsignal      = INT
stdout_logfile  = /var/log/supervisord/{{ galaxy_host_codename }}_uwsgi.stdout.log
stderr_logfile  = /var/log/supervisord/{{ galaxy_host_codename }}_uwsgi.stderr.log

[program:{{ galaxy_host_codename }}_handler]
command         = /usr/bin/sg {{ galaxy_group }} '{{ galaxy_venv_dir }}/bin/python ./scripts/galaxy-main -c {{ galaxy_config_dir }}/galaxy.ini --server-name={{ galaxy_host_codename }}_handler%(process_num)s'
directory       = {{ galaxy_handler_server_dir }}
process_name    = handler%(process_num)s
numprocs        = {{ galaxy_handler_count }}
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 30
user            = {{ galaxy_user }}
environment     = PYTHON_EGG_CACHE={{ instance_root }}/var/python-egg-cache-{{ galaxy_host_codename }}_handler%(process_num)s,GALAXY_EGGS_PATH={{ galaxy_handler_eggs_path }},HOME={{ ('~' ~ galaxy_user) | expanduser }},VIRTUAL_ENV={{ galaxy_venv_dir }}
stdout_logfile  = {{ galaxy_log_dir }}/{{ galaxy_host_codename }}_handler%(process_num)s.log
stdout_logfile_maxbytes = 128MB
stdout_logfile_backups = 64
redirect_stderr = true
