;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:{{ galaxy_host_codename }}_impersonate]
command         = /usr/bin/sg {{ galaxy_group }} '{{ galaxy_venv_dir }}/bin/python ./scripts/paster.py serve {{ galaxy_config_dir }}/impersonate.ini --server-name=%(program_name)s --pid-file={{ instance_root }}/var/run/%(program_name)s.pid'
directory       = {{ galaxy_web_server_dir }}
process_name    = impersonate
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 30
user            = {{ galaxy_user }}
environment     = PYTHON_EGG_CACHE={{ instance_root }}/var/python-egg-cache-%(program_name)s,GALAXY_EGGS_PATH={{ galaxy_handler_eggs_path }}
stdout_logfile  = {{ galaxy_log_dir }}/%(program_name)s.log
stdout_logfile_maxbytes = 128MB
stdout_logfile_backups = 64
redirect_stderr = true
