;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:toolshed_{{ galaxy_toolshed_instance_codename }}_uwsgi]
command         = /usr/bin/uwsgi --plugin python --virtualenv {{ galaxy_venv_dir }} --ini-paste {{ galaxy_toolshed_config_file }}
directory       = {{ galaxy_toolshed_server_dir }}
umask           = 022
autostart       = true
autorestart     = true
startsecs       = 15
user            = shed
environment     = HOME=/home/shed
numprocs        = 1
stopsignal      = INT
stdout_logfile  = /var/log/supervisord/{{ galaxy_toolshed_instance_codename }}_uwsgi.stdout.log
stderr_logfile  = /var/log/supervisord/{{ galaxy_toolshed_instance_codename }}_uwsgi.stderr.log
