#!/bin/sh
##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

INSTANCE="{{ galaxy_instance_codename }}"
VENV="/cvmfs/${INSTANCE}.galaxyproject.org/venv"

. "${VENV}/bin/activate"

galaxyctl "$@"
