;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[program:{{ nginx_supervisor_service_name }}]
command     = /usr/sbin/nginx
directory   = /var/lib/nginx
umask       = 022
autostart   = true
autorestart = unexpected
startsecs   = 5
exitcodes   = 0
user        = root
