---

global:
  default_inherits: _default

tools:
  _default:
    abstract: true
    cores: 1
    mem: cores * 2.89
    context:
      js2_partition: tpv
      js2_gpu_partition: gpu-small
      time: "12:00:00"
    env:
    - name: _JAVA_OPTIONS
      value: -Djava.io.tmpdir=$_GALAXY_JOB_TMP_DIR -Xmx{round(mem*0.9*1024)}m -Xms256m
    scheduling:
      accept:
      - pulsar
      prefer:
      - jetstream2
      require:
      - singularity
      reject:
      #- conda
      - offline
    rules:
    # NOTE: changes here need to be reflected in both rules and the _galaxy_lib abstract tool
    - id: tool_requires_local_conda
      if: tool.tool_type == "data_source"
      scheduling:
        require:
        - conda
        reject:
        - pulsar
        - singularity
    - id: tool_requires_local_galaxy
      if: tool.tool_type == "expression"
      params:
        container_override:
        - type: singularity
          shell: /bin/sh
          identifier: /cvmfs/singularity.galaxyproject.org/all/centos:8.3.2011
      env:
      - name: SINGULARITYENV_PREPEND_PATH
        value: $GALAXY_VIRTUAL_ENV/bin
      - name: SINGULARITYENV_PYTHONPATH
        value: $GALAXY_LIB
      scheduling:
        reject:
        - pulsar
    - id: tool_requires_galaxy
      if: tool.tool_type not in ("data_source", "expression") and tool.requires_galaxy_python_environment
      #inherits: _galaxy_lib
      params:
        container_override:
        - type: singularity
          shell: /bin/sh
          identifier: /cvmfs/singularity.galaxyproject.org/all/centos:8.3.2011
      env:
      - name: SINGULARITYENV_PREPEND_PATH
        value: $GALAXY_VIRTUAL_ENV/bin
      - name: SINGULARITYENV_PYTHONPATH
        value: $GALAXY_LIB
    rank: |
      {{ tpv_python_blobs['rank'] | indent(width=6) }}
