---

destinations:

  jetstream2_vgp:
    inherits: _jetstream2
    min_accepted_cores: 1
    min_accepted_mem: 0
    max_accepted_cores: 128
    max_accepted_mem: 1024
    max_cores: 128
    max_mem: 980
    #context:
    #  #time: 48:00:00
    #  # js2_partition is set on role and (default) tool entitites
    #  #partition: tpv
    params:
      submit_native_specification: "--nodes=1 --ntasks={max(int(mem/4), 1)} --mem={int(mem*1024)} --time={time} --partition={js2_partition}"
      default_file_action: remote_transfer_tus
      jobs_directory: /jetstream2/scratch/{{ galaxy_instance_codename }}/jobs-vgp
    rules:
    - id: jetstream2_single_core_rule
      if: cores == 1
      params:
        submit_native_specification: "--nodes=1 --ntasks=1 --mem={int(mem*1024)} --time={time} --partition={js2_partition}"
    - id: jetstream2_mem_rule
      if: not force_cores and cores > 1 and mem > 120
      params:
        submit_native_specification: "--nodes=1 --ntasks={int(mem/8)} --mem={int(mem*1024)} --time={time} --partition={js2_partition}"
    - id: jetstream2_force_cores_rule
      if: force_cores and cores > 1
      params:
        submit_native_specification: "--nodes=1 --ntasks={int(cores)} --mem={int(mem*1024)} --time={time} --partition={js2_partition}"
    scheduling:
      prefer:
      - jetstream2
      require:
      - pulsar
      - singularity
      - vgp
