---

destinations:

  jetstream2_vgp:
    # Cannot inherit a definition from another file
    #inherits: _jetstream2
    runner: jetstream2
    min_accepted_cores: 1
    min_accepted_mem: 0
    max_accepted_cores: 128
    max_accepted_mem: 1024
    max_cores: 128
    max_mem: 980
    #context:
    #  time: 36:00:00
    #   js2_partition is set on role and (default) tool entitites
    params:
      submit_native_specification: "--nodes=1 --ntasks={max(int(mem/4), 1)} --mem={int(mem*1024)} --time={time or default_time} --partition={js2_partition}"
      default_file_action: {{ pulsar_default_file_action | default("remote_transfer") }}
      jobs_directory: {{ galaxy_job_conf_jetstream2_jobs_directory }}
      remote_metadata: true
      remote_property_galaxy_home: /cvmfs/{{ galaxy_cvmfs_repo }}/galaxy
      singularity_enabled: true
      singularity_volumes: "{{ galaxy_job_conf_singularity_volumes.jetstream | join(',') }}"
      singularity_default_container_id: "{{ galaxy_job_conf_default_container_id }}"
      singularity_no_mount: null
      tmp_dir: true
      outputs_to_working_directory: false
      transport: curl
      dependency_resolution: local
      rewrite_parameters: true
    env:
    # SINGULARITYENV_TMP=$TMP and SINGULARITYENV_TMPDIR=$TMPDIR are set on the singularity command line
    - name: TMP
      value: $_GALAXY_JOB_TMP_DIR
    - name: TEMP
      value: $_GALAXY_JOB_TMP_DIR
    - name: TMPDIR
      value: $_GALAXY_JOB_TMP_DIR
    - name: XDG_DATA_HOME
      value: /cvmfs/{{ galaxy_cvmfs_repo }}/xdg/data
    - name: XDG_CACHE_HOME
      value: /tmp/{{ galaxy_user }}-cache
    - name: TRINITY_SCRATCH_DIR
      value: /tmp/slurm_job_$SLURM_JOB_ID
    - name: SINGULARITYENV_XDG_DATA_HOME
      value: $XDG_DATA_HOME
    - name: SINGULARITYENV_XDG_CACHE_HOME
      value: $XDG_CACHE_HOME
    - name: SINGULARITYENV_TRINITY_SCRATCH_DIR
      value: $TRINITY_SCRATCH_DIR
    - name: SINGULARITY_CACHEDIR
      value: /jetstream2/scratch/{{ galaxy_instance_codename }}/singularity_cache
    - name: SINGULARITY_TMPDIR
      value: /jetstream2/scratch/{{ galaxy_instance_codename }}/singularity_tmp
    rules:
    - id: jetstream2_single_core_rule
      if: cores == 1
      params:
        submit_native_specification: "--nodes=1 --ntasks=1 --mem={int(mem*1024)} --time={time or default_time} --partition={js2_partition}"
    - id: jetstream2_mem_rule
      if: not force_cores and cores > 1 and mem > 120
      params:
        submit_native_specification: "--nodes=1 --ntasks={int(mem/8)} --mem={int(mem*1024)} --time={time or default_time} --partition={js2_partition}"
    - id: jetstream2_force_cores_rule
      if: force_cores and cores > 1
      params:
        submit_native_specification: "--nodes=1 --ntasks={int(cores)} --mem={int(mem*1024)} --time={time or default_time} --partition={js2_partition}"
    scheduling:
      accept:
      - jetstream2
      - general
      - cvmfs
      - docker
      prefer:
      - jetstream2
      require:
      - pulsar
      - singularity
      - vgp
      #reject:
      #- offline
