---

roles:
  VGP-instance:
    context:
      js2_partition: tpv
      js2_lm_partition: tpv-lm
      default_time: "72:00:00"
      max_scaled_mem: 960
    scheduling:
      require:
      - vgp
  VGL:
    context:
      js2_partition: tpv
      #js2_lm_partition: vgp
      default_time: "144:00:00"
      max_scaled_mem: 960
    scheduling:
      accept:
      - vgl
