---

# vgp.usegalaxy.org now loads the regular usegalaxy.org TPV rules, so you only need to add things here if they should
# do things specifically for VGP. Also be aware that tags are merged, not overridden.

tools:

  export_remote:
    mem: 28
    scheduling:
      require:
      - conda
      reject:
      - singularity
      - hpc
      - pulsar
      - offline

  toolshed.g2.bx.psu.edu/repos/bgruening/agat/agat/.*:
    # TODO: set high until we collect some runtime data
    cores: 1
    mem: 14

  toolshed.g2.bx.psu.edu/repos/bgruening/text_processing/tp_sed_tool/.*:
    #mem: 120
    mem: 7

  toolshed.g2.bx.psu.edu/repos/iuc/ucsc_axtchain/ucsc_axtchain/.*:
    mem: 120

  # TEST we can be smarter see https://github.com/KamilSJaron/smudgeplot/wiki/smudgeplot-hetkmers#memory-requirements
  toolshed.g2.bx.psu.edu/repos/galaxy-australia/smudgeplot/smudgeplot/.*:
    cores: 128
    mem: 980

  # seems to use exactly the amount allocated semi-regularly without crashing
  toolshed.g2.bx.psu.edu/repos/bgruening/text_processing/tp_sort_header_tool/.*:
    mem: 58

  toolshed.g2.bx.psu.edu/repos/iuc/samtools_fixmate/samtools_fixmate/.*:
    mem: 58

  toolshed.g2.bx.psu.edu/repos/iuc/samtools_markdup/samtools_markdup/.*:
    mem: 28

  toolshed.g2.bx.psu.edu/repos/devteam/samtools_sort/samtools_sort/.*:
    mem: 28

  toolshed.g2.bx.psu.edu/repos/iuc/samtools_view/samtools_view/.*:
    mem: 14

  toolshed.g2.bx.psu.edu/repos/bgruening/bionano_scaffold/bionano_scaffold/.*:
    cores: 32
    mem: 240

  toolshed.g2.bx.psu.edu/repos/iuc/bbtools_bbmerge/bbtools_bbmerge/.*:
    mem: 480

  toolshed.g2.bx.psu.edu/repos/iuc/mashmap/mashmap/.*:
    cores: 16
    mem: 58

  toolshed.g2.bx.psu.edu/repos/iuc/merqury/merqury/.*:
    # TODO: temp increase, check again later
    mem: 58

  toolshed.g2.bx.psu.edu/repos/iuc/minimap2/minimap2/.*:
    # TODO: temp increase to get memory usage on a self alignment
    cores: 8
    mem: 84

  toolshed.g2.bx.psu.edu/repos/iuc/bandage/bandage_image/0\.8\..*:
    mem: 58

  toolshed.g2.bx.psu.edu/repos/iuc/busco/busco/.*:
    cores: 64
    mem: 480

  #toolshed.g2.bx.psu.edu/repos/devteam/ncbi_blast_plus/ncbi_blastn_wrapper/.*:
  #  cores: 4
  #  mem: 14
  #  rules:
  #  - id: ncbi_blastn_wrapper_db_rule
  #    if: |
  #      helpers.job_args_match(job, app, {'db_opts': {'db_opts_selector': 'db'}})
  #    cores: 96
  #    mem: 4096
  #    scheduling:
  #      require:
  #      - bridges2-em

  toolshed.g2.bx.psu.edu/repos/devteam/picard/picard_MarkDuplicates/.*:
    mem: 58

  toolshed.g2.bx.psu.edu/repos/richard-burhans/batched_lastz/batched_lastz/.*:
    cores: 64
    mem: 480

  toolshed.g2.bx.psu.edu/repos/richard-burhans/ncbi_egapx/ncbi_egapx/.*:
    context:
      time: "672:00:00"

  toolshed.g2.bx.psu.edu/repos/iuc/orfipy/orfipy/.*:
    cores: 16
    mem: 14
    context:
      force_cores: true

  toolshed.g2.bx.psu.edu/repos/bgruening/hifiasm/hifiasm/.*:
    # should use the def from tools.yaml, this is just to override for Bridges-2 EM
    rules:
    - id: hifiasm_scalable_input_rule
      if: input_size >= 9.4 and input_size < 106
      cores: 16
      mem: min(max(int(input_size * 9), 28), max_scaled_mem)
    - id: hifiasm_vgp_em_input_rule
      if: input_size >= 106
      cores: min(max(int((input_size * 9)/1024), 1), 4) * 24
      # just needs to be inside the min/max range, mem is a product of cores
      mem: 1024
      scheduling:
        require:
        - bridges2-em
