---

tools:

  # abstract tools for inheritance

  _hpc:
    abstract: true
    #inherits: _default
    scheduling:
      accept:
      - pulsar
      require:
      - hpc

  # real tools

  toolshed.g2.bx.psu.edu/repos/bgruening/flye/flye/.*:
    cores: 2
    rules:
    - if: 0.15 <= input_size < 0.5
      cores: 8
      scheduling:
        accept:
        - general
        reject:
        - hpc
    - if: 0.5 <= input_size < 10
      cores: 16
      scheduling:
        accept:
        - hpc
        reject:
        - roundup
    - if: input_size >= 10
      # from AU
      #cores: 120
      #mem: 1922
      cores: 56
      mem: 94
      scheduling:
        accept:
        - hpc
        reject:
        - general

  toolshed.g2.bx.psu.edu/repos/devteam/bwa/bwa/.*:
    cores: 2
    scheduling:
      accept:
      - pulsar
    rules:
    - if: 0.25 <= input_size < 1
      cores: 4
      mem: cores * 3.6
    - if: input_size >= 1
      cores: 8
      mem: cores * 3.6
  toolshed.g2.bx.psu.edu/repos/bgruening/hifiasm/hifiasm/.*:
    inherits: _hpc
    cores: 64
    mem: 120
    scheduling:
      prefer:
      - stampede2-skx
  verkko:
    cores: 32
    mem: 120
    scheduling:
      accept:
      - pulsar
      reject:
      - hpc
