---

# vgp.usegalaxy.org now loads the regular usegalaxy.org TPV rules, so you only need to add things here if they should
# do things specifically for VGP. Also be aware that tags are merged, not overridden.

tools:

  toolshed.g2.bx.psu.edu/repos/bgruening/agat/agat/.*:
    # TODO: set high until we collect some runtime data
    cores: 1
    mem: 14

  toolshed.g2.bx.psu.edu/repos/bgruening/text_processing/tp_sed_tool/.*:
    mem: 120

  toolshed.g2.bx.psu.edu/repos/iuc/ucsc_axtchain/ucsc_axtchain/.*:
    mem: 120

  # TEST we can be smarter see https://github.com/KamilSJaron/smudgeplot/wiki/smudgeplot-hetkmers#memory-requirements
  toolshed.g2.bx.psu.edu/repos/galaxy-australia/smudgeplot/smudgeplot/.*:
    cores: 128
    mem: 980

  # might be a one-off failure
  toolshed.g2.bx.psu.edu/repos/bgruening/text_processing/tp_sort_header_tool/.*:
    mem: 60

  toolshed.g2.bx.psu.edu/repos/iuc/samtools_fixmate/samtools_fixmate/.*:
    mem: 14

  toolshed.g2.bx.psu.edu/repos/iuc/samtools_view/samtools_view/.*:
    mem: 14

  toolshed.g2.bx.psu.edu/repos/bgruening/bionano_scaffold/bionano_scaffold/.*:
    cores: 32
    mem: 240

  toolshed.g2.bx.psu.edu/repos/iuc/bbtools_bbmerge/bbtools_bbmerge/.*:
    mem: 480

  toolshed.g2.bx.psu.edu/repos/iuc/mashmap/mashmap/.*:
    cores: 16
    mem: 58
