---

# Most tools belong in tools.yaml.j2. This is useful if you need to make generic definitions that would override more
# specific shared DB definitions, since this is loaded before the shared DB.

tools:

  toolshed.g2.bx.psu.edu/repos/iuc/bedtools/.*:
    mem: 5.6

  toolshed.g2.bx.psu.edu/repos/q2d2/qiime2_.*/20.*:
    mem: 8.3

  toolshed.g2.bx.psu.edu/repos/q2d2/qiime2_.*/2023\.5.*:
    params:
      container_override:
      - type: singularity
        shell: /bin/sh
        identifier: /cvmfs/main.galaxyproject.org/singularity/qiime2-core:2023.5--0

  toolshed.g2.bx.psu.edu/repos/q2d2/qiime2_.*/2024\.5.*:
    params:
      container_override:
      - type: singularity
        shell: /bin/sh
        identifier: /cvmfs/main.galaxyproject.org/singularity/qiime2-amplicon:2024.5--0

  #toolshed.g2.bx.psu.edu/repos/q2d2/qiime2_.*/2024\.10.*:
  #  params:
