---
galaxy_info:
  author: "Nate Coraor"
  description: "Configure PostgreSQL objects: users (roles), databases, and privileges"
  company: Penn State University
  license: AFL v3.0
  min_ansible_version: 1.8
  platforms:
  - name: EL
    versions:
    - all
  - name: GenericUNIX
    versions:
    - all
    - any
  - name: Fedora
    versions:
    - all
  - name: opensuse
    versions:
    - all
  - name: Amazon
    versions:
    - all
  - name: GenericBSD
    versions:
    - all
    - any
  - name: FreeBSD
    versions:
    - all
  - name: Ubuntu
    versions:
    - all
  - name: SLES
    versions:
    - all
  - name: GenericLinux
    versions:
    - all
    - any
  - name: Debian
    versions:
    - all
  categories:
  - database
  - database:sql
dependencies: []
