---

galaxy_host_codename: main_vgp
galaxy_systemd_mode: null

galaxy_tus_upload_store: /corral4/main/_upload_vgp
galaxy_tus_upload_store_job_files: /corral4/main/_upload_job_files_vgp

galaxy_job_conf_pulsar_galaxy_url: https://vgp.usegalaxy.org
galaxy_job_conf_persistence_directory: "/srv/galaxy/main/var/pulsar_amqp_ack"
galaxy_job_conf_jetstream2_jobs_directory: "/jetstream2/scratch/{{ galaxy_instance_codename }}/jobs-vgp"
pulsar_default_file_action: remote_transfer_tus

galaxy_job_conf_runners:
  slurm:
    load: galaxy.jobs.runners.slurm:SlurmJobRunner
    workers: 4
    drmaa_library_path: /usr/lib64/libdrmaa.so
    invalidjobexception_retries: 5
    internalexception_retries: 5
  jetstream2:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    manager: vgp_jetstream2

galaxy_job_conf_default_handler: vgp

galaxy_job_conf_tpv_config_files:
  - tools_pre_shared.yaml
  - https://raw.githubusercontent.com/galaxyproject/tpv-shared-database/refs/heads/mem-efficiency/tools.yml
  - defaults.yaml
  - environments.yaml
  - environments_vgp.yaml
  - tools.yaml
  - tools_vgp.yaml
  - users.yaml
  #- roles.yaml ?
  - roles_vgp.yaml

galaxy_config_files:
  - src: files/galaxy/config/panel_views/
    dest: "{{ galaxy_config.galaxy.panel_views_dir }}"
  - src: files/galaxy/config/tool_data_table_conf.xml
    dest: "{{ galaxy_config_dir }}/tool_data_table_conf.xml"
  - src: files/galaxy/config/tool_conf.xml
    dest: "{{ galaxy_config_dir }}/tool_conf.xml"
  - src: files/galaxy/config/data_manager_conf.xml
    dest: "{{ galaxy_config[galaxy_app_config_section]['data_manager_config_file'] }}"
  - src: files/galaxy/config/tool_sheds_conf.xml
    dest: "{{ galaxy_config[galaxy_app_config_section]['tool_sheds_config_file'] }}"
  - src: files/galaxy/config/disposable_email_blacklist.conf
    dest: "{{ galaxy_config[galaxy_app_config_section]['email_domain_blocklist_file'] }}"
  - src: files/galaxy/config/workflow_schedulers_conf_vgp.xml
    dest: "{{ galaxy_config_dir }}/workflow_schedulers_conf.xml"
  - src: files/galaxy/config/user_preferences.yml
    dest: "{{ galaxy_config[galaxy_app_config_section]['user_preferences_extra_conf_path'] }}"
  - src: files/galaxy/config/trs_servers_conf.yml
    dest: "{{ galaxy_config_dir }}/trs_servers_conf.yml"
  - src: files/galaxy/config/themes_conf_vgp.yml
    dest: "{{ galaxy_config_dir }}/themes_conf.yml"

galaxy_config_templates:
  - src: templates/galaxy/config/job_conf.yml.j2
    dest: "{{ galaxy_config_dir }}/job_conf.yml"
  - src: templates/galaxy/config/build_sites.yml.j2
    dest: "{{ galaxy_config[galaxy_app_config_section]['build_sites_config_file'] }}"
  - src: templates/galaxy/config/file_sources_conf.yml.j2
    dest: "{{ galaxy_config_dir }}/file_sources_conf.yml"
  - src: templates/galaxy/static/welcome_vgp.html.j2
    dest: "{{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/welcome.html"

# themes are deployed manually for VGP
__galaxy_manage_themes: false

galaxy_config_hash:
  galaxy:
    database_connection: "{{ galaxy_config_database_connection }}"
    install_database_connection: "sqlite:////cvmfs/main.galaxyproject.org/var/galaxy_main_install.sqlite?isolation_level=IMMEDIATE"
    id_secret: "{{ galaxy_config_id_secret }}"
    admin_users: "{{ galaxy_config_admin_users }}"
    sentry_dsn: "{{ galaxy_config_sentry_dsn }}"
    sentry_sloreq_threshold: 10.0
    sentry_traces_sample_rate: 0.01
    amqp_internal_connection: "{{ galaxy_config_amqp_internal_connection }}"

    # paths

    config_dir: "{{ galaxy_config_dir }}"
    tool_config_file: "{{ galaxy_config_dir }}/tool_conf.xml,{{ galaxy_shed_tool_conf_file }}"
    tool_dependency_dir: "{{ galaxy_tool_dependency_dir }}"
    new_file_path: "{{ galaxy_new_file_path }}"
    tool_data_path: /corral4/main/tool_data
    tus_upload_store: "{{ galaxy_tus_upload_store }}"
    tus_upload_store_job_files: "{{ galaxy_tus_upload_store_job_files }}"
    galaxy_data_manager_data_path: /corral4/manageddata/data
    tool_cache_data_dir: "{{ galaxy_tool_cache_data_dir }}"
    tool_search_index_dir: "{{ galaxy_tool_search_index_dir }}"
    short_term_storage_dir: /corral4/main/short_term_web_storage

    tool_sheds_config_file: "{{ galaxy_config_dir }}/tool_sheds_conf.xml"
    tool_data_table_config_path:
      - "{{ galaxy_config_dir }}/tool_data_table_conf.xml"
      - "/cvmfs/data.galaxyproject.org/byhand/location/tool_data_table_conf.xml"
      - "/cvmfs/data.galaxyproject.org/managed/location/tool_data_table_conf.xml"
    build_sites_config_file: "{{ galaxy_config_dir }}/build_sites.yml"
    job_config_file: "{{ galaxy_config_dir }}/job_conf.yml"
    workflow_schedulers_config_file: "{{ galaxy_config_dir }}/workflow_schedulers_conf.xml"
    trs_servers_config_file: "{{ galaxy_config_dir }}/trs_servers_conf.yml"
    job_resource_params_file: "{{ galaxy_config_dir }}/job_resource_params_conf.xml"
    data_manager_config_file: "{{ galaxy_config_dir }}/data_manager_conf.xml"
    themes_config_file: "{{ galaxy_config_dir }}/themes_conf.yml"
    panel_views_dir: "{{ galaxy_config_dir }}/panel_views"

    migrated_tools_config: "/cvmfs/main.galaxyproject.org/config/migrated_tools_conf.xml"
    shed_tool_data_table_config: "/cvmfs/main.galaxyproject.org/config/shed_tool_data_table_conf.xml"
    shed_data_manager_config_file: "/cvmfs/main.galaxyproject.org/config/shed_data_manager_conf.xml"
    integrated_tool_panel_config: "{{ galaxy_mutable_config_dir }}/integrated_tool_panel.xml"
    sanitize_whitelist_file: /corral4/main/config/sanitize_whitelist.txt

    user_preferences_extra_conf_path: "{{ galaxy_config_dir }}/user_preferences.yml"
    container_image_cache_path: "{{ galaxy_mutable_data_dir }}/container_images"

    object_store_config:
      type: distributed
      search_for_missing: false
      backends:
        - id: corral4
          type: disk
          device: corral4
          weight: 1
          store_by: uuid
          allow_selection: true
          private: false
          name: "Permanent Storage at TACC"
          description: Data in Permanent Storage is not removed automatically, although it may be archived after a period of inactivity and unarchived later. Storage is provided by Texas Advanced Computing Center.
          files_dir: "/corral4/main/objects"
          badges:
            - type: not_backed_up
          extra_dirs:
            - type: job_work
              path: /corral4/main/jobs
        - id: corral4-scratch
          type: disk
          device: corral4
          weight: 0
          store_by: uuid
          allow_selection: true
          private: false
          quota:
            source: scratch
          name: "30-day Storage at TACC"
          description: Data in 30-day Storage is scheduled for removal after 30 days, but is afforded a much larger quota than Permanent Storage. Storage is provided by Texas Advanced Computing Center.
          files_dir: /corral4/main/objects
          badges:
            - type: not_backed_up
            - type: short_term
              message: "Data stored here is scheduled for removal after 30 days of inactivity"
          extra_dirs:
            - type: job_work
              path: /corral4/main/jobs
        - id: corral-repl
          type: disk
          weight: 0
          store_by: id
          files_dir: /corral4/main/files
        - id: corral-repl-psu
          type: disk
          weight: 0
          store_by: id
          files_dir: /corral4/main/psufiles
        - id: minio-idc
          type: swift
          weight: 0
          store_by: uuid
          auth:
            access_key: "{{ galaxy_minio_idc_access_key }}"
            secret_key: "{{ galaxy_minio_idc_secret_key }}"
          bucket:
            name: idc
            use_reduced_redundancy: false
            max_chunk_size: 250
          connection:
            host: "galaxy-db.tacc.utexas.edu"
            port: 9001
            is_secure: false
            conn_path: ""
            multipart: true
          cache:
            path: "{{ galaxy_object_store_cache_path }}"
            size: 1000000
          extra_dirs:
            - type: job_work
              path: /corral4/main/jobs

    # disabled because potentially eating memory and didn't work for the message box anyway
    #watch_config: true
    watch_job_rules: true

    builds_file_path: "/cvmfs/data.galaxyproject.org/managed/location/builds.txt"
    ucsc_build_sites: "/cvmfs/data.galaxyproject.org/managed/location/ucsc_build_sites.txt"

    galaxy_infrastructure_url: https://vgp.usegalaxy.org

    interactivetools_enable: false

    # general stuff

    load_tool_shed_datatypes: false
    database_engine_option_pool_size: 10
    database_engine_option_max_overflow: 20
    database_engine_option_server_side_cursors: false
    manage_dependency_relationships: false
    len_file_path: /cvmfs/data.galaxyproject.org/managed/len/ucsc
    collect_outputs_from: job_working_directory
    smtp_server: localhost
    error_email_to: galaxy-bugs@galaxyproject.org
    mailing_join_addr: galaxy-announce-join@lists.galaxyproject.org
    email_from: "UseGalaxy.org Support <galaxy-bugs@galaxyproject.org>"
    instance_resource_url: "https://galaxyproject.org/support"
    email_domain_blocklist_file: "{{ galaxy_config_dir }}/disposable_email_blacklist.conf"
    registration_warning_message: "Please register only one account. The {{ galaxy_instance_hostname }} service is provided free of charge and has limited computational and data storage resources. <strong>Registration and usage of multiple accounts is tracked and such accounts are subject to termination and data deletion.</strong>"
    user_activation_on: true
    activation_grace_period: 6
    inactivity_box_content: "Your account has not been activated yet.  Feel free to browse around and see what's available, but you won't be able to upload data or run jobs until you have verified your email address."
    terms_url: "https://{{ galaxy_instance_hostname }}/static/terms.html"
    #ga_code: "UA-45719423-10"
    static_enabled: false
    nginx_x_accel_redirect_base: /_x_accel_redirect
    log_events: false
    log_actions: false
    debug: false
    use_pbkdf2: true
    allow_user_deletion: true
    allow_user_dataset_purge: true
    enable_quotas: true
    retry_metadata_internally: false
    retry_job_output_collection: 5
    cleanup_job: onsuccess
    monitor_thread_join_timeout: 60
    cache_user_job_count: true
    max_metadata_value_size: 1000000
    allow_user_impersonation: true

    # tool search index build params from usegalaxy.eu
    tool_name_boost: 0.1
    tool_section_boost: 1
    tool_description_boost: 0.1
    tool_label_boost: 1
    tool_stub_boost: 1
    tool_help_boost: 1
    tool_search_limit: 160

    conda_prefix: "/cvmfs/main.galaxyproject.org/deps/_conda"

    mulled_resolution_cache_data_dir: "{{ galaxy_mutable_data_dir }}/mulled/data"
    mulled_resolution_cache_lock_dir: "{{ galaxy_mutable_data_dir }}/mulled/lock"

    dependency_resolvers:
      - type: conda
      - type: tool_shed_packages
      - type: galaxy_packages
      - type: galaxy_packages
        versionless: true
      - type: conda
        versionless: true

    container_resolvers:
      - type: cached_mulled_singularity
        cache_directory: /cvmfs/singularity.galaxyproject.org/all
        cache_directory_cacher_type: dir_mtime
      - type: cached_mulled_singularity
        cache_directory: /corral4/singularity/precache
        cache_directory_cacher_type: dir_mtime
      - type: explicit_singularity

    job_metrics:
      - type: core
      - type: cpuinfo
        verbose: true
      - type: meminfo
      - type: uname
      - type: cgroup

    enable_celery_tasks: true
    celery_conf:
      task_routes:
        galaxy.fetch_data: disabled

    expose_dataset_path: true
    expose_potentially_sensitive_job_metrics: true
    enable_tool_source_display: true

    # branding

    brand: VGP
    default_panel_view: all_tools
    # doesn't work for some reason...
    logo_src: https://images.squarespace-cdn.com/content/v1/5963d1fa9de4bb12177a7f48/1526309972322-4IFPGMUU4CF8Y2LLQFM7/VGP_Tag_RGB_newLogo_72dpi_Dots_EDIT.png?format=200w

galaxy_job_conf_limits:
  - type: registered_user_concurrent_jobs
    value: 16
  - type: anonymous_user_concurrent_jobs
    value: 1
