---
#
# WARNING: this is shared by both Test and Main
#

# FIXME:
#   - slurm-drmaa installed by hand

_bridges_home_root: "/jet/home/xcgalaxy"
_bridges_project_root: "/ocean/projects/mcb140028p/xcgalaxy"
_bridges_scratch_root: "{{ _bridges_project_root }}/{{ galaxy_instance_codename }}"
_bridges_instance_root: "{{ _bridges_home_root }}/{{ galaxy_instance_codename }}"

host_directories:
  - path: "{{ _bridges_home_root }}/bin"
    mode: "0755"
  - path: "{{ _bridges_home_root }}/etc"
    mode: "0750"
  - path: "{{ pulsar_root }}/log"
    mode: "0750"
  #- path: "{{ supervisord_log_dir }}"
  #  mode: "0750"
  #- path: "{{ supervisord_run_dir }}"
  #  mode: "0750"

host_files:
  - src: "files/pulsar/el7/tmpwatch"
    dest: "{{ _bridges_home_root }}/bin"
    mode: "0755"

host_templates:
  - src: "templates/pulsar/bridges-supervisord-launch.sh.j2"
    dest: "{{ _bridges_home_root }}/bin/supervisord-launch.sh"
    mode: "0755"

host_crontabs:
  - id: "pulsar-clean-{{ galaxy_instance_codename }}-scratch"
    use_cron_file: false
    minute: "0"
    hour: "*/6"
    job: "{{ _bridges_home_root }}/bin/tmpwatch --all --mtime --dirmtime 7d {{ pulsar_staging_dir }}"
  - id: "pulsar-clean-{{ galaxy_instance_codename }}-amqp-consume"
    use_cron_file: false
    minute: "15"
    hour: "2"
    job: "{{ _bridges_home_root }}/bin/tmpwatch 7d {{ pulsar_persistence_dir }}/amqp_ack-bridges/consume"
  - id: "pulsar-clean-cvmfs-cache"
    use_cron_file: false
    minute: "30"
    hour: "*/6"
    job: "{{ _bridges_home_root }}/bin/tmpwatch 7d {{ _bridges_scratch_root }}/cvmfs_cache"

miniconda_prefix: "{{ _bridges_project_root }}/conda"
miniconda_channels:
  - conda-forge
  - defaults
miniconda_conda_environments:
  __python@3.8:
    packages:
      - python=3.8
  __curl@7.71:
    packages:
      - curl=7.71

supervisord_install: virtualenv-unprivileged
supervisord_prefix: "{{ _bridges_home_root }}/supervisor"
supervisord_conf_path: "{{ supervisord_prefix }}/etc/supervisord.conf"
supervisord_conf_dir: "{{ supervisord_prefix }}/etc/supervisord.d"
supervisord_log_dir: "{{ supervisord_prefix }}/var/log"
supervisord_run_dir: "{{ supervisord_prefix }}/var/run"
host_supervisor_configs:
  - "{{ galaxy_instance_codename }}_pulsar"

# Bridges-2 uses "configless" Slurm, which slurm-drmaa doesn't react well to, so we have a wrapper that writes a copy of
# the config before starting up supervisor. More details in the wrapper.
supervisord_unprivileged_command: "{ date; pgrep -u {{ ansible_user }} supervisord || /bin/bash '{{ _bridges_home_root }}/bin/supervisord-launch.sh'; } >> {{ supervisord_log_dir }}/supervisord-launch.log 2>&1"

pulsar_package_name: "git+https://github.com/natefoo/pulsar.git@cvmfsexec-singularity#egg=pulsar-app"
pulsar_package_version: "{{ omit }}"
pulsar_root: "{{ _bridges_instance_root }}/pulsar"
pulsar_restart_handler_name: supervisor restart pulsar
pulsar_persistence_dir: "{{ _bridges_scratch_root }}/pulsar/var"
pulsar_staging_dir: "{{ _bridges_scratch_root }}/staging"
#galaxy_root: not required

# default $PATH contains puppet bin/sbin, which contain a newer curl that isn't found at pycurl runtime
pulsar_env:
  PATH: "{{ miniconda_prefix }}/envs/__curl@7.71/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/bin:/sbin:/home/xcgalaxy/.local/bin:/home/xcgalaxy/bin"
  # this isn't working, using LD_LIBRARY_PATH in supervisor env instead
  #LD_RUN_PATH: /pylon5/mc48nsp/xcgalaxy/conda/envs/__curl@7.71/lib

pulsar_supervisor_env:
  - PATH="{{ pulsar_venv_dir }}/bin:/opt/packages/slurm/default/bin:%(ENV_PATH)s"
  - LD_LIBRARY_PATH="{{ miniconda_prefix }}/envs/__curl@7.71/lib"
  - SLURM_CONF="{{ _bridges_home_root }}/etc/slurm.conf"

galaxy_user: xcgalaxy
pulsar_privsep_user: "{{ galaxy_user }}"
pip_virtualenv_command: "{{ miniconda_prefix }}/envs/__python@3.8/bin/python3 -m venv"
pip_extra_args: "--index-url https://wheels.galaxyproject.org/ --extra-index-url https://pypi.org/simple"

pulsar_pycurl_ssl_library: openssl
pulsar_drmaa_library_path: "{{ _bridges_instance_root }}/slurm-drmaa/lib/libdrmaa.so"

pulsar_job_metrics_plugins:
  - type: core
  - type: cpuinfo
    verbose: true
  - type: meminfo
  - type: uname
  - type: cgroup

pulsar_yaml_config:
  staging_directory: "{{ pulsar_staging_dir }}"
  persistence_directory: "{{ pulsar_persistence_dir }}"
  message_queue_url: "{{ pulsar_message_queue_url }}"
  maximum_stream_size: 8388608  # 8 MB
  amqp_acknowledge: True
  amqp_ack_republish_time: 180
  amqp_publish_retry: True
  amqp_publish_retry_max_retries: 5
  amqp_publish_retry_interval_start: 10
  amqp_publish_retry_interval_step: 10
  amqp_publish_retry_interval_max: 60
  dependency_resolution:
    resolvers:
      - type: conda
        prefix: "{{ miniconda_prefix }}"
        auto_init: false
        auto_install: false
  managers:
    bridges:
      type: queued_drmaa
      preprocess_action_max_retries: 10
      preprocess_action_interval_start: 2
      preprocess_action_interval_step: 2
      preprocess_action_interval_max: 60
      postprocess_action_max_retries: 10
      postprocess_action_interval_start: 2
      postprocess_action_interval_step: 2
      postprocess_action_interval_max: 60
      min_polling_interval: 15

cvmfsexec_source: none
cvmfsexec_url: https://github.com/natefoo/cvmfsexec/archive/refs/heads/untar-no-preserve-times.tar.gz

cvmfsexec_files:
  - src: files/pulsar/galaxyproject.org.pub
    dest: /etc/cvmfs/keys/galaxyproject.org/galaxyproject.org.pub
  - src: files/pulsar/data.galaxyproject.org.pub
    dest: /etc/cvmfs/keys/galaxyproject.org/data.galaxyproject.org.pub
  #- content: ""
  #  dest: /etc/cvmfs/default.d/50-cern.conf
  - content: |
      CVMFS_SERVER_URL='http://cvmfs1-iu0.galaxyproject.org/cvmfs/@fqrn@;http://cvmfs1-psu0.galaxyproject.org/cvmfs/@fqrn@;http://cvmfs1-tacc0.galaxyproject.org/cvmfs/@fqrn@'
      CVMFS_KEYS_DIR=/etc/cvmfs/keys/galaxyproject.org
    dest: /etc/cvmfs/domain.d/galaxyproject.org.conf

cvmfsexec_local_options:
  - key: CVMFS_ALIEN_CACHE
    value: "{{ _bridges_scratch_root }}/cvmfs_cache"
  - key: CVMFS_QUOTA_LIMIT
    value: "-1"
  - key: CVMFS_SHARED_CACHE
    value: "no"
  - key: CVMFS_CLAIM_OWNERSHIP
    value: "yes"
  - key: CVMFS_HTTP_PROXY
    value: "DIRECT"
