##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

upstream main_installer {
    server galaxy04.tacc.utexas.edu:8888;
}

server {
    listen          *:80;
    server_name  main-installer.galaxyproject.org;

    return 307 https://main-installer.galaxyproject.org$request_uri;
}

server {
    listen       *:443 ssl;
    server_name main-installer.galaxyproject.org;

    access_log /var/log/nginx/main-installer.access.log;
    error_log /var/log/nginx/main-installer.error.log;

    location / {
        proxy_pass         http://main_installer;
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }

}

# vim: set filetype=nginx
