##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

upstream test_installer {
    server localhost:9999;
}

upstream test_datamanager {
    server localhost:9998;
}

server {
    listen          *:80;
    server_name  test.galaxyproject.org;

    return 307 https://test.galaxyproject.org$request_uri;
}

# To display the status page for all requests, use this
#server {
#    listen          *:443 ssl;
#    server_name  usegalaxy.org _;
#
#    access_log  /var/log/nginx/main.access.log;
#    error_log   /var/log/nginx/main.error.log;
#
#    location / {
#        proxy_pass https://status.galaxyproject.org;
#        proxy_redirect     off;
#        proxy_set_header   Host              $host;
#        proxy_set_header   X-Real-IP         $remote_addr;
#        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
#    }
#}

server {
    listen          *:443 ssl default_server;
    server_name  test.galaxyproject.org;

    # Enable HSTS (age is 180 days)
    add_header Strict-Transport-Security "max-age=15552000; includeSubdomains";

    access_log  /var/log/nginx/test.access.log;
    error_log   /var/log/nginx/test.error.log;

    location / {
        uwsgi_pass 127.0.0.1:4001;
        uwsgi_param UWSGI_SCHEME $scheme;
        include uwsgi_params;
    }

    location /admin_toolshed {
        proxy_pass http://test_installer;
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }

    location /static {
        alias {{ galaxy_server_dir }}/static;
        gzip on;
        gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
        expires 24h;
    }

    location /static/style {
        alias {{ galaxy_server_dir }}/static/style/blue;
        gzip on;
        gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
        expires 24h;
    }

    location /static/scripts {
        alias {{ galaxy_server_dir }}/static/scripts/packed;
        gzip on;
        gzip_types text/plain text/javascript application/x-javascript;
        expires 24h;
    }

    location ~ ^/plugins/interactive_environments/(?<vis_name>.+?)/static/(?<static_file>.*?)$ {
        alias {{ interactive_environments_plugins_path }}/$plug_type/$vis_name/static/$static_file;
    }

    location ~ ^/plugins/(?<plug_type>.+?)/(?<vis_name>.+?)/static/(?<static_file>.*?)$ {
        alias {{ galaxy_server_dir }}/config/plugins/$plug_type/$vis_name/static/$static_file;
    }

    location /robots.txt {
        alias {{ galaxy_server_dir }}/static/robots.txt;
    }

    location /favicon.ico {
        alias {{ galaxy_server_dir }}/static/favicon.ico;
    }

    location /_x_accel_redirect {
        internal;
        alias /;
    }

    location /_upload {
        upload_store /galaxy-repl/test/upload;
        upload_store_access user:rw; # group:rw all:rw;
        upload_pass_form_field "";
        upload_set_form_field "__${upload_field_name}__is_composite" "true";
        upload_set_form_field "__${upload_field_name}__keys" "name path";
        upload_set_form_field "${upload_field_name}_name" "$upload_file_name";
        upload_set_form_field "${upload_field_name}_path" "$upload_tmp_path";
        upload_pass_args on;
        upload_pass /_upload_done;
    }

    location /_upload_done {
        internal;
        set $dst /api/tools;
        if ($args ~ nginx_redir=([^&]+)) {
            set $dst $1;
        }
        rewrite "" $dst;
    }

    location /_job_files {
        if ($request_method != POST) {
            rewrite "" /api/jobs/$arg_job_id/files last;
        }
        upload_store /galaxy-repl/test/upload_job_files;
        upload_store_access user:rw;
        upload_pass_form_field "";
        upload_set_form_field "__${upload_field_name}_path" "$upload_tmp_path";
        upload_pass_args on;
        upload_pass /_upload_job_files_done;
    }

    location /_upload_job_files_done {
        internal;
        rewrite "" /api/jobs/$arg_job_id/files;
    }

    # include things generated by Ansible
    include /srv/galaxy/test/nginx.conf.d/*.conf;

    # overridden static content
    location /static/terms.html {
        alias {{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/static/terms.html;
    }

    location /static/welcome.html {
        alias {{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/static/welcome.html;
    }

    location /static/welcome_img {
        alias {{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/static/welcome_img;
    }

    # error docs
    error_page  502 503 504 /error/502/index.shtml;
    error_page  413         /error/413/index.html;
    location /error {
        ssi on;
        root {{ nginx_srv }}/{{ galaxy_instance_hostname }};
    }

}

server {
    listen          *:80;
    server_name  test-installer.galaxyproject.org;

    return 307 https://test-installer.galaxyproject.org$request_uri;
}

server {
    listen       *:443 ssl;
    server_name test-installer.galaxyproject.org;

    access_log /var/log/nginx/test-installer.access.log;
    error_log /var/log/nginx/test-installer.error.log;

    location / {
        proxy_pass         http://test_installer;
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }

    location /static {
        alias {{ galaxy_server_dir }}/static;
        gzip on;
        gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
        expires 24h;
    }

    location /static/style {
        alias {{ galaxy_server_dir }}/static/style/blue;
        gzip on;
        gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
        expires 24h;
    }

    location /static/scripts {
        alias {{ galaxy_server_dir }}/static/scripts/packed;
        gzip on;
        gzip_types text/plain text/javascript application/x-javascript;
        expires 24h;
    }
}

server {
    listen          *:80;
    server_name  test-datamanager.galaxyproject.org;

    return 307 https://test-datamanager.galaxyproject.org$request_uri;
}

server {
    listen       *:443 ssl;
    server_name test-datamanager.galaxyproject.org;

    access_log /var/log/nginx/test-datamanager.access.log;
    error_log /var/log/nginx/test-datamanager.error.log;

    location / {
        proxy_pass         http://test_datamanager;
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }

    location /static {
        alias {{ galaxy_server_dir }}/static;
        gzip on;
        gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
        expires 24h;
    }

    location /static/style {
        alias {{ galaxy_server_dir }}/static/style/blue;
        gzip on;
        gzip_types text/plain text/xml text/javascript text/css application/x-javascript;
        expires 24h;
    }

    location /static/scripts {
        alias {{ galaxy_server_dir }}/static/scripts/packed;
        gzip on;
        gzip_types text/plain text/javascript application/x-javascript;
        expires 24h;
    }
}

# vim: set filetype=nginx
