##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

#http {
#    server {

        # main redirects
        rewrite ^/m/?$ https://usegalaxy.org/mobile;
        rewrite ^/bushman/?$ https://usegalaxy.org/u/aun1/p/bushman;
        rewrite ^/heteroplasmy/?$ https://usegalaxy.org/u/aun1/p/heteroplasmy;
        rewrite ^/galaxy101/?$ https://github.com/nekrut/galaxy/wiki/Galaxy101-1;
        rewrite ^/learn/?$ https://usegalaxy.org/u/james/p/exercises;
        rewrite ^/interactive-rnaseq/?$ https://usegalaxy.org/u/jeremy/p/interactive-rna-seq-with-trackster;
        rewrite ^/rna-?seq/?$ https://usegalaxy.org/u/jeremy/p/galaxy-rna-seq-analysis-exercise;
        rewrite ^/[Tt]ool[Ss]hed[Pp]aper/?$ https://usegalaxy.org/u/dan/p/extending-genomic-analyses-with-galaxy-toolshed;
        rewrite ^/cloudmap?$ https://usegalaxy.org/u/gm2123/p/cloudmap;
        rewrite ^/windshield-splatter?$ https://usegalaxy.org/u/aun1/p/windshield-splatter;
        rewrite ^/r/aye-aye?$ https://usegalaxy.org/u/webb/p/aye-aye;
        rewrite ^/r/pipeline?$ https://usegalaxy.org/u/webb/p/pipeline;
        rewrite ^/r/polar-bears?$ https://usegalaxy.org/u/webb/p/polar-bears;
        rewrite ^/cancer?$ https://usegalaxy.org/u/jeremy/p/cancer-analyses;
        rewrite ^/r/kenyanbee?$ https://usegalaxy.org/u/webb/p/honeybee;
        rewrite ^/r/woolly-mammoth?$ https://usegalaxy.org/u/webb/p/mammoth;

        # other redirects
        rewrite ^/cloud/?$ http://wiki.galaxyproject.org/Admin/Cloud;
        rewrite ^/cloudlaunch/?$ http://launch.usegalaxy.org;
        rewrite ^/production/?$ http://wiki.galaxyproject.org/Admin/Config/Performance/ProductionServer;
        rewrite ^/toolshed$ http://toolshed.g2.bx.psu.edu;
        rewrite ^/toolshed/(.*)$ http://toolshed.g2.bx.psu.edu/$1;
        #rewrite ^/dev2010/?$ http://bitbucket.org/galaxy/galaxy-central/wiki/DevConf2010;
        rewrite ^/vm/?$ https://s3.amazonaws.com/usegalaxy/index.html;
        rewrite ^/screencast/?$ http://wiki.galaxyproject.org/Learn/Screencasts; 
        rewrite ^/contamination?$ https://usegalaxy.org/u/aun1/p/controlling-for-contamination-in-resequencing;
        rewrite ^/duplex?$ https://github.com/galaxyproject/dunovo/wiki;

#    }
#
