#!/bin/sh
##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

shed="$2"

case "$shed" in
    test|main)
        op="$1"
        ;;
    *)
        op="usage"
        ;;
esac

case "$op" in
    restart)
        $HOME/bin/supervisorctl restart "toolshed_${shed}_uwsgi"
        ;;
    graceful)
        kill -HUP `$HOME/bin/supervisorctl pid "toolshed_${shed}_uwsgi"`
        ;;
    start)
        $HOME/bin/supervisorctl start "toolshed_${shed}_uwsgi"
        ;;
    stop)
        $HOME/bin/supervisorctl stop "toolshed_${shed}_uwsgi"
        ;;
    status)
        $HOME/bin/supervisorctl status "toolshed_${shed}_uwsgi"
        ;;
    *)
        echo "usage: $0 <start|stop|graceful|restart|status> <test|main>"
        ;;
esac
