---

global:
  default_inherits: _default

tools:
  _default:
    cores: 1
    #mem: cores * 8
    mem: cores * 2.89
    env:
      _JAVA_OPTIONS: $_JAVA_OPTIONS -Xmx{round(mem*0.9*1024)}m -Xms256m
    context:
      partition: normal
    params:
      native_specification: "--nodes=1 --ntasks={cores} --mem={round(mem*1024)} --partition={partition}"
      #submit_native_specification: "--nodes=1 --ntasks={cores} --mem={round(mem*1024)} --partition={partition}"
      submit_native_specification: "--nodes=1 --ntasks={cores} --mem={round(mem*1024)} --partition=tpv"
      #docker_memory: '{mem}G'
    scheduling:
      require:
      - general
      accept:
      - pulsar
      reject:
      - offline
    rank: |
      {{ tpv_python_blobs['rank'] | indent(width=6) }}
