---

tools:

  # abstract tools for inheritance

  _hpc:
    abstract: true
    #inherits: _default
    scheduling:
      accept:
      - pulsar
      require:
      - hpc
    rank: |
      {{ tpv_python_blobs['rank_hpc'] | indent(width=6) }}

  # real tools

  toolshed.g2.bx.psu.edu/repos/devteam/bwa/bwa/.*:
    cores: 2
    scheduling:
      accept:
      - pulsar
    rules:
    - if: 0.25 <= input_size < 1
      cores: 4
      mem: cores * 3.6
    - if: input_size >= 1
      cores: 8
      mem: cores * 3.6
  #toolshed.g2.bx.psu.edu/repos/bgruening/hifiasm/hifiasm/.*:
  #  cores: 64
  #  mem: 120
  #  scheduling:
  #    prefer:
  #    - stampede2-skx
  toolshed.g2.bx.psu.edu/repos/bgruening/hifiasm/hifiasm/.*:
    inherits: _hpc
    cores: 64
    mem: 120
    scheduling:
      prefer:
      - stampede2-skx
  verkko:
    cores: 32
    mem: 120
    scheduling:
      accept:
      - pulsar
      reject:
      - hpc
