##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

upstream galaxy {
    server 127.0.0.1:8080;
    #server 127.0.0.1:8081;
}

server {
    listen       *:443 ssl http2 default_server;
    server_name  vgp.usegalaxy.org;

    # Enable HSTS (age is 180 days)
    #add_header Strict-Transport-Security "max-age=15552000; includeSubdomains";

    access_log  /var/log/nginx/main_vgp.access.log;
    error_log   /var/log/nginx/main_vgp.error.log;

    location / {
        proxy_pass         http://galaxy;
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;

        add_header X-Clacks-Overhead 'GNU James Taylor (@jxtx) Simon Gladman (@slugger70)';
    }

    location ~ ^/api/dataset_collections/([^/]+)/download/?$ {
        proxy_pass         http://galaxy;
        proxy_redirect     off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;

        proxy_buffering off;
    }

    location /static {
        alias {{ galaxy_server_dir }}/static;
        expires 24h;
    }

    # serve visualization and interactive environment plugin static content
    location ~ ^/plugins/(?<plug_type>[^/]+?)/((?<vis_d>[^/_]*)_?)?(?<vis_name>[^/]*?)/static/(?<static_file>.*?)$ {
        alias {{ galaxy_server_dir }}/config/plugins/$plug_type/;
        try_files $vis_d/${vis_d}_${vis_name}/static/$static_file
                  $vis_d/static/$static_file =404;
    }

    location /robots.txt {
        alias {{ galaxy_server_dir }}/static/robots.txt;
    }

    location /favicon.ico {
        alias {{ galaxy_server_dir }}/static/favicon.ico;
    }

    location /_x_accel_redirect {
        internal;
        alias /;
        add_header X-Frame-Options SAMEORIGIN;
        add_header X-Content-Type-Options nosniff;
    }

    location /corral4/main/objects {
        internal;
        alias /corral4/main/objects;
    }
    location /corral4/main/files {
        internal;
        alias /corral4/main/files;
    }
    location /corral4/main/psufiles {
        internal;
        alias /corral4/main/psufiles;
    }

    location /api/upload/resumable_upload {
        # Disable request and response buffering
        proxy_request_buffering     off;
        proxy_buffering             off;
        proxy_http_version          1.1;

        # Add X-Forwarded-* headers
        proxy_set_header X-Forwarded-Host   $host;
        proxy_set_header X-Forwarded-Proto  $scheme;

        proxy_set_header Upgrade            $http_upgrade;
        proxy_set_header Connection         "upgrade";
        client_max_body_size        0;
        proxy_pass http://127.0.0.1:{{ galaxy_tusd_port }}/files;
    }

    # overridden static content
    location /static/terms.html {
        alias {{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/static/terms.html;
    }

    location /static/welcome.html {
        alias {{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/static/welcome.html;
    }

    location /static/welcome_img {
        alias {{ nginx_srv }}/{{ galaxy_instance_hostname }}/root/static/welcome_img;
        expires 2h;
    }

    # error docs
    error_page  502 503 504 /error/502/index.shtml;
    error_page  413         /error/413/index.html;
    location /error {
        ssi on;
        root {{ nginx_srv }}/{{ galaxy_instance_hostname }};
    }

    # GTN proxy for the GTN in Galaxy webhook
    location /training-material/ {
        proxy_pass https://training.galaxyproject.org/training-material/;
    }

}

# vim: set filetype=nginx
