---

- type: ucsc
  file: "/cvmfs/data.galaxyproject.org/managed/location/ucsc_build_sites.txt"
  display: [main,archaea,ucla]
- type: gbrowse
  file: "{{ galaxy_server_dir }}/tool-data/shared/gbrowse/gbrowse_build_sites.txt"
  display: [wormbase,tair,modencode_worm,modencode_fly]
- type: ensembl
  file: "{{ galaxy_server_dir }}/tool-data/shared/ensembl/ensembl_sites.txt"
- type: ensembl_data_url
  file: "{{ galaxy_server_dir }}/tool-data/shared/ensembl/ensembl_sites_data_URL.txt"
- type: igv
  file: "{{ galaxy_server_dir }}/tool-data/shared/igv/igv_build_sites.txt.sample"
- type: rviewer
  file: "{{ galaxy_server_dir }}/tool-data/shared/rviewer/rviewer_build_sites.txt.sample"
