---
##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

#
# Job runner plugin configuration
#
runners:
  slurm:
    load: galaxy.jobs.runners.slurm:SlurmJobRunner
    workers: 4
    drmaa_library_path: /usr/lib64/libdrmaa.so
    invalidjobexception_retries: 5
    internalexception_retries: 5
  jetstream2:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    manager: vgp_jetstream2
    amqp_url: {{ galaxy_job_conf_amqp_url }}
    galaxy_url: {{ galaxy_job_conf_pulsar_galaxy_url }}
    persistence_directory: /srv/galaxy/{{ galaxy_instance_codename }}/var/pulsar_amqp_ack
    amqp_acknowledge: true
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: true
    amqp_publish_retry_max_retries: 60
  bridges2:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    manager: vgp_bridges2
    amqp_url: {{ galaxy_job_conf_amqp_url }}
    galaxy_url: {{ galaxy_job_conf_pulsar_galaxy_url }}
    persistence_directory: /srv/galaxy/{{ galaxy_instance_codename }}/var/pulsar_amqp_ack
    amqp_acknowledge: true
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: true
    amqp_publish_retry_max_retries: 60
  expanse:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    manager: vgp_expanse
    amqp_url: {{ galaxy_job_conf_amqp_url }}
    galaxy_url: {{ galaxy_job_conf_pulsar_galaxy_url }}
    persistence_directory: /srv/galaxy/{{ galaxy_instance_codename }}/var/pulsar_amqp_ack
    amqp_acknowledge: true
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: true
    amqp_publish_retry_max_retries: 60

#
# Job handler configuration
#
handling:
  default: vgp
  assign:
    - db-skip-locked
  max_grab: 16
  ready_window_size: 32
{% if galaxy_job_conf_handlers is defined %}
  processes:
{% for handler in galaxy_job_conf_handlers %}
    {{ handler.id }}:
{% if handler.tags is defined and handler.tags %}
      tags:
{% for tag in handler.tags %}
        - {{ tag }}
{% endfor %}
{% endif %}
{% if handler.environment is defined and handler.environment %}
      environment: {{ handler.environment }}
{% endif %}
{% endfor %}
{% endif %}

#
# Job execution configuration
#
execution:
  default: tpv_dispatcher
  environments:
    tpv_dispatcher:
      runner: dynamic
      type: python
      function: map_tool_to_destination
      rules_module: tpv.rules
      tpv_config_files:
        - "https://raw.githubusercontent.com/galaxyproject/tpv-shared-database/e2277c4e9aa8044342832f08d9fc06ebf7e8287c/tools.yml"
        - "{{ tpv_config_dir }}/defaults_vgp.yaml"
        - "{{ tpv_config_dir }}/environments_vgp.yaml"
        - "{{ tpv_config_dir }}/tools_vgp.yaml"
        #- "{{ tpv_config_dir }}/users_vgp.yaml"
        - "{{ tpv_config_dir }}/roles_vgp.yaml"

#
# Job limits configuration
#
limits:
{% for limit in galaxy_job_conf_limits | default([]) %}
  - {{ limit | to_yaml | trim }}
{% endfor %}
