<?xml version="1.0"?>
<object_store type="distributed">
    <backends search_for_missing="false">
        <backend type="irods" id="corral-irods-galaxy" weight="0" store_by="uuid">
            <auth username="g2main" password="{{ galaxy_icat_irods_password }}" />
            <resource name="mainRootResc" />
            <zone name="galaxyZ" />
            <connection host="galaxy-icat.tacc.utexas.edu" port="1247" timeout="30" refresh_time="300" connection_pool_monitor_interval="300"/>
            <cache path="{{ galaxy_object_store_cache_path }}" size="1000000" />
            <extra_dir type="job_work" path="/corral4/main/jobs"/>
        </backend>
        <backend type="disk" id="corral4" weight="1" store_by="uuid">
            <files_dir path="/corral4/main/objects"/>
            <extra_dir type="job_work" path="/corral4/main/jobs"/>
        </backend>
        <backend type="disk" id="corral-repl" weight="0" store_by="id">
            <files_dir path="/corral4/main/files"/>
        </backend>
        <backend type="disk" id="corral-repl-psu" weight="0" store_by="id">
            <files_dir path="/corral4/main/psufiles"/>
        </backend>
        <backend id="minio-idc" type="swift" weight="0" store_by="uuid">
            <auth access_key="{{ galaxy_minio_idc_access_key }}" secret_key="{{ galaxy_minio_idc_secret_key }}" />
            <bucket name="idc" use_reduced_redundancy="False" max_chunk_size="250"/>
            <connection host="galaxy-db-02" port="9001" is_secure="False" conn_path="" multipart="True"/>
            <cache path="{{ galaxy_object_store_cache_path }}" size="1000000" />
            <extra_dir type="job_work" path="/corral4/main/jobs"/>
        </backend>
    </backends>
</object_store>
