<user>
    <email>{{ galaxy_toolshed_bootstrap_email }}</email>
    <password>{{ galaxy_toolshed_bootstrap_password }}</password>
    <username>{{ galaxy_toolshed_bootstrap_username }}</username>
</user>
