---

## these vars are defined in vault.yml
#
# used by: galaxy_config var
galaxy_config_admin_users: "{{ vault_galaxy_config_admin_users }}"
galaxy_config_id_secret: "{{ vault_galaxy_config_id_secret }}"
galaxy_config_sentry_dsn: "{{ vault_galaxy_config_sentry_dsn }}"
galaxy_internal_amqp_credentials: "{{ vault_galaxy_internal_amqp_credentials }}"
galaxy_openai_api_key: "{{ vault_galaxy_openai_api_key }}"

galaxy_db_server: galaxy-db.tacc.utexas.edu
galaxy_config_database_connection: "postgresql://g2main:{{ galaxy_database_password }}@{{ galaxy_db_server }}/galaxy_main"
redis_requirepass: "{{ vault_redis_requirepass }}"

galaxy_config_amqp_internal_connection: "amqp://{{ galaxy_internal_amqp_credentials }}@{{ amqp_server }}:5671//main_internal?ssl=1"

galaxy_root: "/srv/galaxy/{{ galaxy_instance_codename }}"
galaxy_new_file_path: "/corral4/{{ galaxy_instance_codename }}/scratch3"
galaxy_job_working_directory: "/corral4/{{ galaxy_instance_codename }}/jobs"
galaxy_tus_upload_store: "/corral4/{{ galaxy_instance_codename }}/_upload_tus"
galaxy_tus_upload_store_job_files: "/corral4/{{ galaxy_instance_codename }}/_upload_job_files"
galaxy_nginx_upload_job_files_dir: "/corral4/{{ galaxy_instance_codename }}/_upload_job_files"
galaxy_tool_dependency_dir: "/cvmfs/{{ galaxy_instance_codename }}.galaxyproject.org/deps"
galaxy_file_path: "{{ galaxy_mutable_data_dir }}/datasets"
galaxy_log_dir: "{{ galaxy_root }}/log"
galaxy_tool_cache_data_dir: "/srv/galaxy/{{ galaxy_instance_codename }}/var/tool_cache"
galaxy_tool_search_index_dir: "/srv/galaxy/{{ galaxy_instance_codename }}/var/tool_search_index"
galaxy_object_store_cache_path: "/corral4/{{ galaxy_instance_codename }}/object_store_cache"

galaxy_interactivetoolsproxy_map: "postgresql://g2main:{{ galaxy_database_password }}@{{ galaxy_db_server }}/gxitproxy_main"

galaxy_themes_instance_domain: usegalaxy.org
# this is the place in the playbook theme files are copied from
galaxy_themes_ansible_file_path: files/galaxy/subdomains
galaxy_themes_default_welcome: https://galaxyproject.org/usegalaxy/welcome/
galaxy_themes_welcome_url_prefix: https://gxy.io/usegalaxy-org-welcome-
#galaxy_themes_subdomains: is in galaxywebservers group_vars

## used by: galaxyproject.galaxy
base_app_main: &BASE_APP_MAIN

  # this can be removed after 9/22 and the datatypes_conf.xml update
  gbrowse_display_sites: wormbase,tair,modencode_worm,modencode_fly
  ucsc_display_sites: main,archaea,ucla

  # secrets

  database_connection: "{{ galaxy_config_database_connection }}"
  install_database_connection: "sqlite:////cvmfs/main.galaxyproject.org/var/galaxy_main_install.sqlite?isolation_level=IMMEDIATE"
  id_secret: "{{ galaxy_config_id_secret }}"
  admin_users: "{{ galaxy_config_admin_users }}"
  sentry_dsn: "{{ galaxy_config_sentry_dsn }}"
  sentry_sloreq_threshold: 10.0
  sentry_traces_sample_rate: 0.01
  amqp_internal_connection: "{{ galaxy_config_amqp_internal_connection }}"

  # logging
  trace_log_dir: "{{ galaxy_log_dir }}"
  trace_log_size: 104857600
  trace_log_keep: 10

  # paths

  config_dir: "{{ galaxy_config_dir }}"
  tool_config_file:
    - "{{ galaxy_config_dir }}/tool_conf.xml"
    - "{{ galaxy_config_dir }}/local_tool_conf.xml"
    - "{{ galaxy_shed_tool_conf_file }}"
  tool_dependency_dir: "{{ galaxy_tool_dependency_dir }}"
  #job_working_directory: "{{ galaxy_job_working_directory }}"
  tool_data_path: /corral4/main/tool_data
  tus_upload_store: "{{ galaxy_tus_upload_store }}"
  tus_upload_store_job_files: "{{ galaxy_tus_upload_store_job_files }}"
  nginx_upload_job_files_store: "{{ galaxy_nginx_upload_job_files_dir }}"
  nginx_upload_job_files_path: /_job_files
  #library_import_dir: /corral4/main/import
  galaxy_data_manager_data_path: /corral4/manageddata/data
  tool_cache_data_dir: "{{ galaxy_tool_cache_data_dir }}"
  tool_search_index_dir: "{{ galaxy_tool_search_index_dir }}"
  short_term_storage_dir: /corral4/main/short_term_web_storage
  webhooks_dir: "{{ galaxy_config_dir }}/webhooks"

  tool_sheds_config_file: "{{ galaxy_config_dir }}/tool_sheds_conf.xml"
  tool_data_table_config_path:
    - "{{ galaxy_config_dir }}/tool_data_table_conf.xml"
    - "/cvmfs/data.galaxyproject.org/byhand/location/tool_data_table_conf.xml"
    - "/cvmfs/data.galaxyproject.org/managed/location/tool_data_table_conf.xml"
    - "/cvmfs/brc.galaxyproject.org/config/tool_data_table_conf.xml"
  build_sites_config_file: "{{ galaxy_config_dir }}/build_sites.yml"
  #datatypes_config_file: "{{ galaxy_config_dir }}/datatypes_conf.xml"
  job_config_file: "{{ galaxy_config_dir }}/job_conf.yml"
  workflow_schedulers_config_file: "{{ galaxy_config_dir }}/workflow_schedulers_conf.xml"
  trs_servers_config_file: "{{ galaxy_config_dir }}/trs_servers_conf.yml"
  job_resource_params_file: "{{ galaxy_config_dir }}/job_resource_params_conf.xml"
  data_manager_config_file: "{{ galaxy_config_dir }}/data_manager_conf.xml"
  themes_config_file: "{{ galaxy_config_dir }}/themes_conf.yml"
  panel_views_dir: "{{ galaxy_config_dir }}/panel_views"
  default_panel_view_by_host:
    singlecell.usegalaxy.org: singlecell
    microbiology.usegalaxy.org: microgalaxy
    usegalaxy.org: all_tools

  migrated_tools_config: "/cvmfs/main.galaxyproject.org/config/migrated_tools_conf.xml"
  shed_tool_data_table_config: "/cvmfs/main.galaxyproject.org/config/shed_tool_data_table_conf.xml"
  shed_data_manager_config_file: "/cvmfs/main.galaxyproject.org/config/shed_data_manager_conf.xml"
  integrated_tool_panel_config: "{{ galaxy_mutable_config_dir }}/integrated_tool_panel.xml"
  sanitize_allowlist_file: /corral4/main/config/sanitize_allowlist.txt

  user_preferences_extra_conf_path: "{{ galaxy_config_dir }}/user_preferences.yml"
  container_image_cache_path: "{{ galaxy_mutable_data_dir }}/container_images"
  object_store_always_respect_user_selection: true
  object_store_config:
    type: distributed
    search_for_missing: false
    backends:
      - id: corral4
        type: disk
        device: corral4
        weight: 1
        store_by: uuid
        allow_selection: true
        private: false
        name: "Permanent Storage at TACC"
        description: Data in Permanent Storage is not removed automatically, although it may be archived after a period of inactivity and unarchived later. Storage is provided by Texas Advanced Computing Center.
        files_dir: "/corral4/main/objects"
        badges:
          - type: not_backed_up
        extra_dirs:
          - type: job_work
            path: /corral4/main/jobs
      - id: corral4-scratch
        type: disk
        device: corral4
        weight: 0
        store_by: uuid
        allow_selection: true
        private: false
        quota:
          source: scratch
        name: "30-day Storage at TACC"
        description: Data in 30-day Storage is scheduled for removal after 30 days, but is afforded a much larger quota than Permanent Storage. Storage is provided by Texas Advanced Computing Center.
        files_dir: /corral4/main/objects
        badges:
          - type: not_backed_up
          - type: short_term
            message: "Data stored here is scheduled for removal after 30 days of inactivity"
        extra_dirs:
          - type: job_work
            path: /corral4/main/jobs
      - id: corral-repl
        type: disk
        weight: 0
        store_by: id
        files_dir: /corral4/main/files
      - id: corral-repl-psu
        type: disk
        weight: 0
        store_by: id
        files_dir: /corral4/main/psufiles
      # FIXME: currently firewalled from cyclone, causing massive set_meta delays
      #- id: minio-idc
      #  type: swift
      #  weight: 0
      #  store_by: uuid
      #  auth:
      #    access_key: "{{ galaxy_minio_idc_access_key }}"
      #    secret_key: "{{ galaxy_minio_idc_secret_key }}"
      #  bucket:
      #    name: idc
      #    use_reduced_redundancy: false
      #    max_chunk_size: 250
      #  connection:
      #    host: "galaxy-db.tacc.utexas.edu"
      #    port: 9001
      #    is_secure: false
      #    conn_path: ""
      #    multipart: true
      #  cache:
      #    path: "{{ galaxy_object_store_cache_path }}"
      #    size: 1000000
      #  extra_dirs:
      #    - type: job_work
      #      path: /corral4/main/jobs

  # disabled because potentially eating memory and didn't work for the message box anyway
  #watch_config: true
  watch_job_rules: true

  #environment_setup_file: /galaxy/main/job_env.bash

  builds_file_path: "/cvmfs/data.galaxyproject.org/managed/location/builds.txt"
  ucsc_build_sites: "/cvmfs/data.galaxyproject.org/managed/location/ucsc_build_sites.txt"

  # TODO: this was for GIEs but other stuff uses this now?
  galaxy_infrastructure_url: https://usegalaxy.org
  #trust_ipython_notebook_conversion: "True"

  interactivetools_enable: true
  # TODO: required?
  interactivetools_proxy_host: usegalaxy.org
  interactivetoolsproxy_map: "{{ galaxy_interactivetoolsproxy_map }}"
  interactivetools_prefix: interactivetool

  # general stuff

  brand_by_host:
    singlecell.usegalaxy.org: Single Cell Omics
    microbiology.usegalaxy.org: Microbiology
    brc.usegalaxy.org: BRC Analytics

  load_tool_shed_datatypes: false
  database_engine_option_pool_size: 10
  database_engine_option_max_overflow: 20
  database_engine_option_server_side_cursors: false
  manage_dependency_relationships: "False"
  len_file_path: /cvmfs/data.galaxyproject.org/managed/len/ucsc
  collect_outputs_from: job_working_directory
  smtp_server: localhost
  error_email_to: galaxy-bugs@galaxyproject.org
  mailing_join_addr: galaxy-announce-join@lists.galaxyproject.org
  email_from: "UseGalaxy.org Support <galaxy-bugs@galaxyproject.org>"
  instance_resource_url: "https://galaxyproject.org/support"
  email_domain_blocklist_file: "{{ galaxy_config_dir }}/disposable_email_blacklist.conf"
  registration_warning_message: "Please register only one account. The {{ galaxy_instance_hostname }} service is provided free of charge and has limited computational and data storage resources. <strong>Registration and usage of multiple accounts is tracked and such accounts are subject to termination and data deletion.</strong>"
  user_activation_on: true
  activation_grace_period: 6
  inactivity_box_content: "Your account has not been activated yet.  Feel free to browse around and see what's available, but you won't be able to upload data or run jobs until you have verified your email address."
  terms_url: "https://{{ galaxy_instance_hostname }}/static/terms.html"
  #ga_code: "UA-45719423-10"
  static_enabled: false
  nginx_x_accel_redirect_base: /_x_accel_redirect
  #upstream_mod_zip: true
  upstream_gzip: true
  log_events: "False"
  log_actions: "False"
  debug: "False"
  use_interactive: "False"
  use_pbkdf2: true
  allow_user_deletion: true
  allow_user_dataset_purge: true
  enable_oidc: true
  enable_quotas: true
  track_jobs_in_database: true
  retry_metadata_internally: false
  retry_job_output_collection: 5
  cleanup_job: onsuccess
  monitor_thread_join_timeout: 60
  cache_user_job_count: true
  max_metadata_value_size: 1000000
  allow_user_impersonation: true
  enable_beta_markdown_export: true
  use_access_logging_middleware: true

  #tool_search_limit: 30
  #tool_name_boost: 12
  #tool_section_boost: 5

  # tool search index build params from usegalaxy.eu
  tool_name_boost: 0.1
  tool_section_boost: 1
  tool_description_boost: 0.1
  tool_label_boost: 1
  tool_stub_boost: 1
  tool_help_boost: 1
  tool_search_limit: 160

  conda_prefix: "/cvmfs/main.galaxyproject.org/deps/_conda"

  mulled_resolution_cache_data_dir: "{{ galaxy_mutable_data_dir }}/mulled/data"
  mulled_resolution_cache_lock_dir: "{{ galaxy_mutable_data_dir }}/mulled/lock"

  dependency_resolvers:
    - type: conda
    - type: tool_shed_packages
    - type: galaxy_packages
    - type: galaxy_packages
      versionless: true
    - type: conda
      versionless: true

  container_resolvers:
    - type: cached_mulled_singularity
      cache_directory: /cvmfs/singularity.galaxyproject.org/all
      cache_directory_cacher_type: dir_mtime
    - type: cached_mulled_singularity
      cache_directory: /cvmfs/main.galaxyproject.org/singularity
      cache_directory_cacher_type: dir_mtime
    # TODO: move these to CVMFS
    - type: cached_mulled_singularity
      cache_directory: /corral4/singularity/precache
      cache_directory_cacher_type: dir_mtime
    - type: explicit_singularity

  job_metrics:
    - type: core
    - type: cpuinfo
      verbose: true
    - type: meminfo
    - type: uname
    - type: cgroup

  # For handler heartbeats
  #use_heartbeat: "True"
  #heartbeat_interval: "-1"
  #heartbeat_log: "{{ galaxy_log_dir }}/heartbeat_{server_name}_{pid}.log"

  # stats
  statsd_host: "127.0.0.1"
  statsd_port: "8125"
  statsd_prefix: "main"

  # start high, decrease when we've fixed things
  slow_query_log_threshold: "2"

  legacy_eager_objectstore_initialization: "False"

  enable_notification_system: true
  enable_celery_tasks: true
  celery_conf:
    result_backend: 'redis://:{{ redis_requirepass }}@galaxy-db.tacc.utexas.edu/0'
    task_routes:
      galaxy.fetch_data: disabled
      galaxy.write_history_to: galaxy.archiver

  expose_dataset_path: true
  expose_potentially_sensitive_job_metrics: true
  enable_tool_source_display: true
  geographical_server_location_code: "US"
  enable_help_forum_tool_panel_integration: true

  # https://github.com/galaxyproject/galaxy/issues/18926
  #allowed_origin_hostnames: nekrut.static.observableusercontent.com
  openai_api_key: "{{ galaxy_openai_api_key }}"
  openai_model: "gpt-4o"

# galaxy.yml contents
galaxy_config_hash:
  galaxy:
    <<: *BASE_APP_MAIN
    new_file_path: "{{ galaxy_new_file_path }}"
