---

pulsar_amqp_credentials: "{{ vault_pulsar_amqp_credentials }}"

# set -e restart=true to enable restart
restart: false

## these vars are defined in vault.yml
galaxy_database_password: "{{ vault_galaxy_database_password }}"
tiaas_database_password: "{{ vault_tiaas_database_password }}"

galaxy_database_name: galaxy_main

galaxy_virtualenv_command: "/cvmfs/main.galaxyproject.org/deps/_conda/envs/__python@3.13/bin/python3 -m venv"
galaxy_repo: https://github.com/{{ galaxy_repo_owner }}/galaxy.git
galaxy_repo_owner: galaxyproject
galaxy_commit_id: usegalaxy_26.0

galaxy_force_checkout: true
galaxy_user: g2main
galaxy_group: G-803372
galaxy_privileged_user: gxsrc
galaxy_instance_hostname: usegalaxy.org
galaxy_instance_codename: main
galaxy_cvmfs_repo: main.galaxyproject.org
galaxy_version_file: "{{ inventory_dir }}/files/galaxy/galaxy_version.yml"
galaxy_diff_mode_verbose: false
galaxy_config_perms: 0644
galaxy_additional_venv_packages:
  - drmaa
  - hvac
  - "redis>=4.5.2,<6.0.0,!=4.5.5"
  - weasyprint
  - fs.googledrivefs
amqp_server: mq.galaxyproject.org

galaxy_vault_address: vault.usegalaxy.org

gravity_venv_dir: "/srv/galaxy/{{ galaxy_instance_codename }}/gravity"
gravity_config_file: "/etc/galaxy/gravity.d/galaxy_{{ galaxy_instance_codename }}.yml"
galaxy_gravity_command: "{{ gravity_venv_dir }}/bin/galaxyctl"

# FIXME: don't want the backups of the TPV configs to be watched, maybe add a per-item backup option to
# galaxy_config_{files,templates}, or maybe we really don't need backups
galaxy_backup_configfiles: false

# specifies config files to copy from the playbook
galaxy_config_files:
  - src: files/galaxy/config/disposable_email_blocklist.conf
    dest: "{{ galaxy_config[galaxy_app_config_section].email_domain_blocklist_file }}"

nginx_srv: /srv/nginx

galaxy_layout: custom
galaxy_config_style: yaml

galaxy_venv_dir: /cvmfs/{{ galaxy_cvmfs_repo }}/venv

# these are in all so the subdomain welcomes get deployed to the load balancer

# what hostnames to serve the default welcome.html for
galaxy_base_welcome_names:
  - usegalaxy.org
  - galaxy-main.usegalaxy.org
  - galaxy-main1.usegalaxy.org
  - galaxy-main2.usegalaxy.org
  - galaxy-main3.usegalaxy.org
  - galaxy-main4.usegalaxy.org

# subdomain themes
galaxy_themes_subdomains:
  - name: singlecell
    theme:
      singlecell:
        masthead:
          color: "#530080"
  - name: microbiology
    theme:
      microbiology:
        masthead:
          color: "#21a685"
  - name: biodiversity-genomics
    theme:
      biodiversity-genomics:
        masthead:
          color: "#809900"
  - name: imaging
    theme:
      imaging:
        masthead:
          color: >
            linear-gradient(90deg,
              rgb(0, 0, 0) 0%,
              rgb(0, 69, 227) 17%,
              rgb(9, 121, 33) 30%,
              rgb(180, 170, 15) 70%,
              rgb(193, 35, 0) 79%,
              rgb(0, 0, 0) 100%)
  #- name: brc
  #  theme:
  #    brc:
  #      masthead:
  #        color: >-
  #          linear-gradient(90deg,
  #            rgba(255,255,255,1) 0%,
  #            rgba(40,40,91,1) 100%)
