---

## used by: supervisor
supervisord_galaxywebservers_group_configs:
  - galaxy
  - galaxy_impersonate
  - galaxy_reports
  - galaxy_group


## used by: galaxygproject.nginx
nginx_configs:
  - usegalaxy
  - galaxy_bx

nginx_extra_configs:
  - usegalaxy_rewrites.conf


## used by: galaxyproject.galaxy
galaxy_errordocs_dest: "{{ nginx_srv }}/{{ galaxy_instance_hostname }}/error"
galaxy_errordocs_502_message: |
  You are seeing this message because a request to Galaxy timed out or was refused. This may be a temporary issue which
  could be resolved by retrying the operation you were performing. If you receive this message repeatedly or for an
  extended amount of time, please report it to the Galaxy Team at
  <a href='mailto:galaxy-bugs@lists.galaxyproject.org'>galaxy-bugs@lists.galaxyproject.org</a>
  with details on what you were trying to do and the URL in the address bar. More information on the current state of
  Galaxy services may be available on the
  <a href="https://status.galaxyproject.org/">Galaxy status page</a>
  or the
  <a href="https://twitter.com/galaxyproject">@galaxyproject Twitter feed</a>.


## used by the sysctl task in the galaxy_infrastructure playbook
sysctl_conf:
  - name: net.core.rmem_max
    value: 15990784
  - name: net.core.wmem_max
    value: 15990784


## used by: galaxygproject.interactive_environments
interactive_environments_install_method: copy
interactive_environments_plugins_path: "{{ galaxy_root }}/interactive_environments/plugins"
interactive_environments_proxy_path: "{{ galaxy_root }}/interactive_environments/proxy"
interactive_environments_enabled:
  - jupyter
interactive_environments_config_files:
  - ie_name: jupyter
    file: jupyter.ini
    contents:
      main: {}
      docker:
        galaxy_url: "https://usegalaxy.org"
        docker_connect_port: "8888"
        use_volumes: "False"
  - ie_name: jupyter
    file: allowed_images.yml
    contents:
      - image: "quay.io/bgruening/docker-jupyter-notebook:17.05"
        description: >
          The Jupyter notebook is the next iteration of IPython, allowing
          analysis in many different languages. This image features the Python,
          R, Julia, Haskell, Bash kernels and many scientific analysis stacks for
          each.
interactive_environments_nginx_conf_dir: "{{ galaxy_root }}/nginx.conf.d"
interactive_environments_proxy_user: "{{ galaxy_user }}"
interactive_environments_access_log_path: "{{ galaxy_log_dir }}/gie_proxy-access.log"
interactive_environments_error_log_path: "{{ galaxy_log_dir }}/gie_proxy-error.log"


## used by: play
containers_yaml:
  containers:
    _default_:
      type: docker_swarm
      host: tcp://jetstream-tacc0.galaxyproject.org:2376
      force_tlsverify: yes
      #cpus: 0.25


