---

- type: ucsc
  file: "/cvmfs/data.galaxyproject.org/managed/location/ucsc_build_sites.txt"
  display: [main,test,archaea,ucla]
- type: gbrowse
  file: "{{ galaxy_server_dir }}/tool-data/shared/gbrowse/gbrowse_build_sites.txt"
  display: [modencode,sgd_yeast,tair,wormbase,wormbase_ws120,wormbase_ws140,wormbase_ws170,wormbase_ws180,wormbase_ws190,wormbase_ws200,wormbase_ws204,wormbase_ws210,wormbase_ws220,wormbase_ws225]
- type: ensembl
  file: "{{ galaxy_server_dir }}/tool-data/shared/ensembl/ensembl_sites.txt"
- type: ensembl_data_url
  file: "{{ galaxy_server_dir }}/tool-data/shared/ensembl/ensembl_sites_data_URL.txt"
- type: igv
  file: "{{ galaxy_server_dir }}/tool-data/shared/igv/igv_build_sites.txt.sample"
- type: rviewer
  file: "{{ galaxy_server_dir }}/tool-data/shared/rviewer/rviewer_build_sites.txt.sample"
