<?xml version="1.0"?>
<object_store type="distributed">
    <backends>
        <backend type="irods" id="corral-irods-galaxy" weight="1" store_by="uuid">
            <auth username="g2test" password="{{ galaxy_icat_irods_password }}" />
            <resource name="testRootResc" />
            <zone name="galaxyZ" />
            <connection host="galaxy-icat.tacc.utexas.edu" port="1247" timeout="3" refresh_time="300"/>
            <cache path="{{ galaxy_object_store_cache_path }}" size="1000000" />
            <extra_dir type="job_work" path="/corral4/test/jobs"/>
        </backend>
        <!-- briefly used to test Main Corral 4 transition -->
        <backend type="disk" id="corral-test" weight="0" store_by="uuid">
            <files_dir path="/corral4/test/files-test"/>
            <extra_dir type="job_work" path="/corral4/test/jobs"/>
        </backend>
        <backend type="disk" id="corral" weight="0" store_by="id">
            <files_dir path="/corral4/test/files"/>
            <extra_dir type="job_work" path="/corral4/test/jobs"/>
        </backend>
    </backends>
</object_store>
