<?xml version="1.0"?>
<OIDC>
    <provider name="custos">
        <url>https://custos.scigap.org/apiserver/identity-management/v1.0.0/</url>
        <client_id>{{ galaxy_custos_client_id }}</client_id>
        <client_secret>{{ galaxy_custos_client_secret }}</client_secret>
        <redirect_uri>https://test.galaxyproject.org/authnz/custos/callback</redirect_uri>
    </provider>
</OIDC>
