---

- type: dropbox
  id: dropbox
  label: Your Dropbox Files
  doc: Your Dropbox files - configure an access token via the user preferences
  accessToken: ${user.preferences['dropbox|access_token']}

- type: ftp
  id: ebi-ftp
  label: "EBI FTP server"
  doc: "European Bioinformatic Institute FTP server"
  host: "ftp.ebi.ac.uk"
  user: "anonymous"
  passwd: ""
  timeout: 10
  port: 21

- type: ftp
  id: covid-monitoring
  label: "SARS-CoV-2 result files"
  doc: "SARS-CoV-2 variants and consensus sequences"
  host: "xfer13.crg.eu"
  user: "anonymous"
  passwd: ""
  timeout: 10
  port: 21

- type: ftp
  id: ncbi-ftp
  label: "NCBI FTP server"
  doc: "NCBI FTP server"
  host: "ftp.ncbi.nlm.nih.gov"
  user: "anonymous"
  passwd: ""
  timeout: 10
  port: 21

- type: ftp
  id: ensembl-ftp
  label: "ENSEMBL FTP server"
  doc: "ENSEMBL FTP server"
  host: "ftp.ensemblgenomes.org/vol1/pub/"
  user: "anonymous"
  passwd: ""
  timeout: 10
  port: 21

- type: ssh
  id: covid-crg-ftp-staging
  requires_roles: covid-crg-ftp-staging-upload
  writable: true
  label: "CRG COVID data - staging"
  doc: "Center for Genomic regulation COVID19 FTP server"
  host: "xfer13.crg.eu"
  user: "{{ covid_crg_ftp_staging_user }}"
  passwd: "{{ covid_crg_ftp_staging_passwd }}"
  timeout: 10
  path: "/home/FTPvandenbeek/userspace/staging/"
  config_path: ""
  port: 2222

- type: s3fs
  label: Genome Ark
  id: genomeark
  doc: Access to Genome Ark open data on AWS.
  bucket: genomeark
  anon: true
  listings_expiry_time: 60

- type: s3fs
  label: Paratus raw data
  requires_groups: Paratus
  id: paretus_raw
  doc: Access to Paratus data on AWS.
  bucket: paratus-collab/VGL/raw_data
  writable: true
  secret: "{{ paratus_aws_secret_access_key }}"
  key: "{{ paratus_aws_access_key_id }}"
  listings_expiry_time: 60

- type: s3fs
  label: Paratus draft assemblies
  requires_groups: Paratus
  id: paretus_draft
  doc: Access to Paratus data on AWS.
  bucket: paratus-collab/VGL/draft_assemblies
  writable: true
  secret: "{{ paratus_aws_secret_access_key }}"
  key: "{{ paratus_aws_access_key_id }}"
  listings_expiry_time: 60

- type: s3fs
  label: Genome Ark EXPORT HERE
  requires_groups: GenomeArkExport
  id: genomeark_galaxy
  doc: Access to Genome Ark open data on AWS.
  bucket: genomeark
  writable: true
  secret: "{{ genomeark_galaxy_aws_secret_access_key }}"
  key: "{{ genomeark_galaxy_aws_access_key_id }}"
  listings_expiry_time: 60

- type: s3fs
  label: 1000 Genomes
  id: 1000genomes
  doc: Access to the 1000 Genomes Project with human genetic variation, including SNPs, structural variants, and their haplotype context.
  bucket: 1000genomes
  anon: true
  listings_expiry_time: 60

- type: s3fs
  label: The Cancer Genome Atlas
  id: tcga-2-open
  doc: Access to the Cancer Genome Atlas (TCGA)
  bucket: tcga-2-open
  anon: true
  listings_expiry_time: 60

- type: s3fs
  label: COVID-19 Data Lake
  id: covid19-lake
  doc: A centralized repository of up-to-date and curated datasets on or related to the spread and characteristics of the novel corona virus (SARS-CoV-2) and its associated illness, COVID-19
  bucket: covid19-lake
  anon: true
  listings_expiry_time: 60

- type: s3fs
  label: Encyclopedia of DNA Elements (ENCODE)
  id: encode-public
  doc: The Encyclopedia of DNA Elements (ENCODE) Consortium is an international collaboration of research groups funded by the National Human Genome Research Institute (NHGRI)
  bucket: encode-public
  anon: true
  listings_expiry_time: 60

- type: s3fs
  label: Coupled Model Intercomparison Project 6
  id: esgf-world
  doc: The sixth phase of global coupled ocean-atmosphere general circulation model ensemble
  bucket: esgf-world
  anon: true
  listings_expiry_time: 60

- type: s3fs
  label: CMIP6 GCMs downscaled using WRF
  id: wrf-cmip6-noversioning
  doc: High-resolution historical and future climate simulations from 1980-2100
  bucket: wrf-cmip6-noversioning
  anon: true
  listings_expiry_time: 60

- type: s3fs
  label: GBIF European region public datasets
  id: gbif-open-data-eu-central-1
  doc: The Global Biodiversity Information Facility is an international network and data infrastructure aimed at providing anyone, anywhere, open access to data about all types of life on Earth.
  bucket: gbif-open-data-eu-central-1
  anon: true
  listings_expiry_time: 60

- type: s3fs
  label: Element Biosciences
  requires_groups: ElementBio
  id: elembio-macro-galaxy
  doc: Access to Element Biosciences data on AWS.
  bucket: elembio-macro-galaxy
  writable: false
  secret: "{{ elementbio_aws_secret_access_key }}"
  key: "{{ elementbio_aws_access_key_id }}"
  listings_expiry_time: 60

- type: posix
  id: gxy-archiver
  label: GalaxyArchiver
  doc: GalaxyArchiver Local Destination -- not for general use
  root: "/corral4/{{ galaxy_instance_codename }}/archive/export/"
  requires_roles: galaxy-archiver-role
  writable: true
