- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_aws_private_bucket.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_aws_public_bucket.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_azure.yml"
# 25.0
#- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_zenodo.yml"
# https://github.com/usegalaxy-eu/issues/issues/668
#- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_google_drive.yml"
- include: "{{ galaxy_server_dir }}/lib/galaxy/files/templates/examples/production_dropbox.yml"
