---
##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

{#
## WARNING: this file is shared between Test and Main!
##
## NOTE: many template values can be found in env/<env>/group_vars/galaxyservers/tools_conf.yml
-#}

#
# Job runner plugin configuration
#
runners:
  local:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 2
{% for runner_id, params in (galaxy_job_conf_runners | default({})).items() %}
  {{ runner_id }}:
{% for k, v in (params | default({})).items() %}
    {{ k }}: {{ v }}
{% endfor %}
{% if params.load.startswith("galaxy.jobs.runners.pulsar:") %}
{% for k, v in galaxy_job_conf_pulsar_runner_params.items() %}
    {{ k }}: {{ v }}
{% endfor %}
{% endif %}
{% endfor %}

#
# Job handler configuration
#
handling:
  #default: handlers
  assign:
    - db-skip-locked
  max_grab: 16
  ready_window_size: 32
{% if galaxy_job_conf_handlers is defined %}
  processes:
{% for handler in galaxy_job_conf_handlers %}
    {{ handler.id }}:
{% if handler.tags is defined and handler.tags %}
      tags:
{% for tag in handler.tags %}
        - {{ tag }}
{% endfor %}
{% endif %}
{% if handler.environment is defined and handler.environment %}
      environment: {{ handler.environment }}
{% endif %}
{% endfor %}
{% endif %}

#
# Job execution configuration
#
execution:
  default: {{ galaxy_job_conf_default_environment | default('tpv_dispatcher') }}
  environments:
    tpv_dispatcher:
      runner: dynamic
      type: python
      function: map_tool_to_destination
      rules_module: tpv.rules
      tpv_config_files:
        - "{{ tpv_config_dir }}/defaults.yaml"
        - "{{ tpv_config_dir }}/environments.yaml"
        - "{{ tpv_config_dir }}/tools_pre_shared.yaml"
        - "https://raw.githubusercontent.com/galaxyproject/tpv-shared-database/main/tools.yml"
        - "{{ tpv_config_dir }}/tools.yaml"
        - "{{ tpv_config_dir }}/roles.yaml"

{% if galaxy_job_conf_resource_groups is defined %}
#
# Job resource selector configuration
#
resources:
  groups:
{% for group, elements in (galaxy_job_conf_resource_groups | default({}) ).items() %}
    {{ group }}:
{% for element in elements %}
      - {{ element }}
{% endfor %}
{% endfor %}
{% endif %}

#
# Job mapping configuration
#
tools:
{% for tool in galaxy_job_conf_tools | default([]) %}
  - {{ tool | to_yaml | trim }}
{% endfor %}

#
# Job limits configuration
#
limits:
{% for limit in galaxy_job_conf_limits | default([]) %}
  - {{ limit | to_yaml | trim }}
{% endfor %}
