##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

[uwsgi]

plugins     = python
socket      = /srv/trello_card_creator/run/uwsgi.sock
wsgi-file   = /srv/trello_card_creator/source/trello.py
master      = true
chdir       = /srv/trello_card_creator/source
env         = TRELLO_AUTH_KEY={{ trello_auth_key }}
env         = TRELLO_OAUTH_TOKEN={{ trello_oauth_token }}
uid         = www-data
