<?xml version="1.0"?>
<!--
    This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
-->
<job_conf>
    <plugins workers="8">
        <plugin id="dynamic" type="runner">
            <!-- These live in the virtualenv -->
            <param id="rules_module">usegalaxy.jobs.rules</param>
        </plugin>
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        <plugin id="slurm" type="runner" load="galaxy.jobs.runners.slurm:SlurmJobRunner">
            <param id="drmaa_library_path">/home/g2main/slurm-drmaa-debug/lib/libdrmaa.so</param>
            <param id="invalidjobexception_retries">5</param>
            <param id="internalexception_retries">5</param>
        </plugin>
        <plugin id="amqp_pulsar_stampede" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://usegalaxy.org</param>
            <param id="manager">stampede</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
        <plugin id="amqp_pulsar_stampede_nagios" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://usegalaxy.org</param>
            <param id="manager">stampede_nagios</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
    </plugins>
    <handlers default="handlers">
        <handler id="main_w1_handler0" tags="handlers">
            <plugin id="local"/>
            <plugin id="slurm"/>
        </handler>
        <handler id="main_w1_handler1" tags="handlers">
            <plugin id="local"/>
            <plugin id="slurm"/>
        </handler>
        <handler id="main_w2_handler0" tags="handlers">
            <plugin id="local"/>
            <plugin id="slurm"/>
        </handler>
        <handler id="main_w2_handler1" tags="handlers">
            <plugin id="local"/>
            <plugin id="slurm"/>
        </handler>
        <handler id="main_w1_handler2">
            <plugin id="local"/>
            <plugin id="slurm"/>
        </handler>
        <!-- stampede/multi handler -->
        <handler id="main_w2_handler2">
            <plugin id="local"/>
            <plugin id="slurm"/>
            <plugin id="amqp_pulsar_stampede"/>
            <plugin id="amqp_pulsar_stampede_nagios"/>
        </handler>
    </handlers>
    <destinations default="dynamic_normal_reserved">
        <!-- dynamic methods for selecting reserved nodes -->
        <destination id="dynamic_normal_reserved" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_normal_reserved</param>
        </destination>
        <destination id="dynamic_normal_reserved_16gb" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_normal_reserved_16gb</param>
        </destination>
        <destination id="dynamic_normal_reserved_64gb" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_normal_reserved_64gb</param>
        </destination>
        <destination id="dynamic_multi_reserved" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_multi_reserved</param>
        </destination>

        <!-- dynamic method for setting roundup multi walltime, also handles the explicit Stampede resource selector -->
        <destination id="dynamic_local_stampede_select_dynamic_walltime" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_local_stampede_select_dynamic_walltime</param>
        </destination>

        <!-- reserved destinations -->
        <destination id="reserved" runner="slurm">
           <param id="nativeSpecification">--time=36:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=reserved</param>
        </destination>
        <destination id="reserved_16gb" runner="slurm">
           <param id="nativeSpecification">--time=36:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=reserved --mem-per-cpu=15360</param>
        </destination>
        <destination id="reserved_64gb" runner="slurm">
           <param id="nativeSpecification">--time=36:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=reserved --mem-per-cpu=61440</param>
        </destination>
        <destination id="reserved_multi" runner="slurm">
           <param id="nativeSpecification">--time=36:00:00 --clusters=roundup --nodes=1 --ntasks=4 --partition=reserved --mem-per-cpu=5120</param>
        </destination>

        <!-- normal destinations -->
        <destination id="slurm_normal" runner="slurm">
           <param id="nativeSpecification">--time=36:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=normal</param>
        </destination>
        <destination id="slurm_normal_16gb" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=normal --mem-per-cpu=15360</param>
        </destination>
        <destination id="slurm_normal_64gb" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --nodes=1 --ntasks=1 --partition=multi --mem-per-cpu=61440</param>
        </destination>

        <!-- multi destinations -->
        <destination id="slurm_multi" runner="slurm">
            <param id="nativeSpecification">--time=36:00:00 --nodes=1 --ntasks=6 --partition=multi</param>
        </destination>
        <destination id="slurm_trackster_multi" runner="slurm">
            <param id="nativeSpecification">--time=00:05:00 --nodes=1 --ntasks=4 --partition=normal</param>
        </destination>
        <destination id="slurm_multi_development" runner="slurm">
            <param id="nativeSpecification">--time=00:30:00 --clusters=roundup --nodes=1 --ntasks=2 --partition=normal</param>
        </destination>

        <!-- dynamic modified destinations: do not use directly -->
        <destination id="slurm_multi_dynamic_walltime" runner="slurm">
            <!-- walltime is set dynamically -->
            <param id="nativeSpecification">--nodes=1 --ntasks=6 --partition=multi</param>
            <resubmit condition="walltime_reached" destination="pulsar_stampede_normal" handler="main_w2_handler2"/>
        </destination>

        <!-- stampede destinations -->
        <destination id="pulsar_stampede_normal" runner="amqp_pulsar_stampede">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/work/galaxy/main/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/work/galaxy/main/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/work/galaxy/main/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/work/galaxy/main/galaxy/config/datatypes_conf.xml</param>
            <param id="submit_native_specification">--time=48:00:00 --nodes=1 --ntasks=16 --partition=normal --account=TG-MCB140147</param>
            <param id="file_action_config">{{ galaxy_config_dir }}/pulsar_stampede_actions.yml</param>
        </destination>
        <destination id="pulsar_stampede_development" runner="amqp_pulsar_stampede">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/work/galaxy/main/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/work/galaxy/main/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/work/galaxy/main/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/work/galaxy/main/galaxy/config/datatypes_conf.xml</param>
            <param id="submit_native_specification">--time=00:30:00 --nodes=1 --ntasks=16 --partition=development --account=TG-MCB140147</param>
            <param id="file_action_config">{{ galaxy_config_dir }}/pulsar_stampede_actions.yml</param>
        </destination>
        <destination id="pulsar_stampede_nagios" runner="amqp_pulsar_stampede_nagios">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/work/galaxy/main/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/work/galaxy/main/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/work/galaxy/main/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/work/galaxy/main/galaxy/config/datatypes_conf.xml</param>
            <param id="file_action_config">{{ galaxy_config_dir }}/pulsar_stampede_actions.yml</param>
        </destination>

        <!-- local destination for nagios handler checks -->
        <destination id="local" runner="local"/>

    </destinations>
    <tools>
        <!-- multi/stampede jobs -->
        <tool id="bowtie2" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <tool id="bowtie_wrapper" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <tool id="bwa" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <tool id="bwa_mem" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <tool id="bwa_wrapper" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <tool id="cuffdiff" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <tool id="cufflinks" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <tool id="cuffmerge" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <tool id="tophat" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <tool id="tophat2" destination="dynamic_local_stampede_select_dynamic_walltime" handler="main_w2_handler2" resources="local_or_stampede"/>
        <!-- explicit stampede jobs -->
        <tool id="lastz_wrapper_2" destination="dynamic_stampede_select" handler="main_w2_handler2" resources="stampede"/>
        <tool id="megablast_wrapper" destination="dynamic_stampede_select" handler="main_w2_handler2" resources="stampede"/>
        <tool id="bwa_color_wrapper" destination="dynamic_stampede_select" handler="main_w2_handler2" resources="stampede"/>
        <tool id="bowtie_color_wrapper" destination="dynamic_stampede_select" handler="main_w2_handler2" resources="stampede"/>
        <!-- use these to disable stampede
        <tool id="bowtie2" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="bowtie_wrapper" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="bowtie_color_wrapper" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="bwa" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="bwa_mem" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="bwa_wrapper" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="bwa_color_wrapper" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="lastz_wrapper_2" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="megablast_wrapper" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="cuffdiff" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="cufflinks" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="cuffmerge" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="tophat" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        <tool id="tophat2" destination="dynamic_multi_reserved" handler="main_w2_handler2"/>
        -->
        <!-- trackster jobs -->
        <tool id="cufflinks" destination="slurm_trackster_multi">
            <param id="source">trackster</param>
        </tool>
        <!-- 16GB tools -->
        <tool id="join1" destination="dynamic_normal_reserved_16gb"/>
        <tool id="gops_join_1" destination="dynamic_normal_reserved_16gb"/>
        <tool id="gatk_unified_genotyper" destination="dynamic_normal_reserved_16gb"/>
        <tool id="gatk_realigner_target_creator" destination="dynamic_normal_reserved_16gb"/>
        <tool id="gatk_indel_realigner" destination="dynamic_normal_reserved_16gb"/>
        <tool id="gatk_depth_of_coverage" destination="dynamic_normal_reserved_16gb"/>
        <tool id="gatk_variant_recalibrator" destination="dynamic_normal_reserved_16gb"/>
        <tool id="gatk_count_covariates" destination="dynamic_normal_reserved_16gb"/>
        <tool id="gatk_table_recalibration" destination="dynamic_normal_reserved_16gb"/>
        <tool id="fastq_paired_end_joiner" destination="dynamic_normal_reserved_16gb"/>
        <tool id="naive_variant_caller" destination="dynamic_normal_reserved_16gb"/>
        <tool id="bamtools" destination="dynamic_normal_reserved_16gb"/>
        <tool id="varscan" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_AddCommentsToBam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_AddOrReplaceReadGroups" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_BedToIntervalList" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CleanSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CASM" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectBaseDistributionByCycle" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectGcBiasMetrics" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectInsertSizeMetrics" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectRnaSeqMetrics" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectWgsMetrics" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_DownsampleSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_EstimateLibraryComplexity" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_FilterSamReads" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_FixMateInformation" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MarkDuplicates" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MarkDuplicatesWithMateCigar" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MeanQualityByCycle" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MergeBamAlignment" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MergeSamFiles" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_NormalizeFasta" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_QualityScoreDistribution" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_ReorderSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_ReplaceSamHeader" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_RevertOriginalBaseQualitiesAndAddMateCigar" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_RevertSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_SamToFastq" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_SortSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_ValidateSamFile" destination="dynamic_normal_reserved_16gb"/>
        <!-- 64GB tools -->
        <tool id="wig_to_bigWig" destination="dynamic_normal_reserved_64gb"/>
        <tool id="CONVERTER_bedgraph_to_bigwig" destination="dynamic_normal_reserved_64gb"/>
        <!-- nagios checks -->
        <!-- run wherever it lands
        <tool id="echo_main_cluster"/>
        -->
        <tool id="echo_main_w1_handler0" destination="local" handler="main_w1_handler0"/>
        <tool id="echo_main_w1_handler1" destination="local" handler="main_w1_handler1"/>
        <tool id="echo_main_w1_handler2" destination="local" handler="main_w1_handler2"/>
        <tool id="echo_main_w2_handler0" destination="local" handler="main_w2_handler0"/>
        <tool id="echo_main_w2_handler1" destination="local" handler="main_w2_handler1"/>
        <tool id="echo_main_w2_handler2" destination="local" handler="main_w2_handler2"/>
        <tool id="echo_main_stampede" destination="pulsar_stampede_nagios" handler="main_w2_handler2"/>
    </tools>
    <resources default="default">
        <group id="default"></group>
        <group id="local_or_stampede">tacc_compute_resource</group>
        <group id="stampede">stampede_compute_resource</group>
    </resources>
    <limits>
        <limit type="registered_user_concurrent_jobs">6</limit>
        <limit type="anonymous_user_concurrent_jobs">1</limit>
        <limit type="job_walltime">49:00:00</limit>
        <limit type="output_size">150G</limit>
        <!-- per-destination per-user limits -->
        <limit type="destination_user_concurrent_jobs" id="slurm_normal">4</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_normal_16gb">1</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_normal_64gb">1</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_multi">1</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_multi_dynamic_walltime">2</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_multi_development">1</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_multi_trackster">1</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_stampede_normal">4</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_stampede_development">1</limit>
        <!-- per-destination total limits -->
        <limit type="destination_total_concurrent_jobs" id="pulsar_stampede_normal">50</limit>
        <limit type="destination_total_concurrent_jobs" id="pulsar_stampede_development">1</limit>
    </limits>
</job_conf>
