[uwsgi]
processes = 8
stats = 127.0.0.1:9191
socket = 127.0.0.1:4001
master = True
logto = {{ galaxy_log_dir }}/uwsgi.log
py-tracebacker = {{ galaxy_mutable_data_dir }}/uwsgi_py_tracebacker.worker
harakiri = 600
pythonpath = lib
threads = 4
log-maxsize = 134217728
single-interpreter = True
log-master-bufsize = 15865856
module = galaxy.webapps.galaxy.buildapp:uwsgi_app_factory()
set = galaxy_config_file={{ galaxy_config_dir }}/galaxy.ini
set = galaxy_root={{ galaxy_server_dir }}
