##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

template(name="logflux" type="list" option.jsonf="on") {
    property(outname="@timestamp" name="timereported" dateFormat="rfc3339" format="jsonf")
    property(outname="host" name="hostname" format="jsonf")
    property(outname="severity" name="syslogseverity-text" caseConversion="upper" format="jsonf")
    property(outname="facility" name="syslogfacility-text" format="jsonf")
    property(outname="syslog-tag" name="syslogtag" format="jsonf")
    property(outname="source" name="app-name" format="jsonf")
    property(outname="message" name="msg" format="jsonf")
}

module(load="omuxsock")
$OMUxSockSocket {{ logflux_config.socket | default('/tmp/logflux.sock') }}
{{ logflux_syslog_selector }} :omuxsock:;logflux
