<?xml version="1.0"?>
<!--
    This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
-->
<job_conf>
    <plugins workers="3">
        <plugin id="dynamic" type="runner">
            <!-- These live in the virtualenv -->
            <param id="rules_module">usegalaxy.jobs.rules</param>
        </plugin>
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
        <plugin id="slurm" type="runner" load="galaxy.jobs.runners.slurm:SlurmJobRunner">
            <param id="drmaa_library_path">/home/g2test/slurm-drmaa-debug/lib/libdrmaa.so</param>
            <param id="invalidjobexception_retries">5</param>
            <param id="internalexception_retries">5</param>
        </plugin>
        <plugin id="amqp_pulsar_stampede" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://test.galaxyproject.org</param>
            <param id="manager">stampede</param>
            <param id="persistence_directory">/srv/galaxy/test/var/pulsar_amqp_ack</param>
            <param id="amqp_acknowledge">True</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
        <plugin id="amqp_pulsar_stampede_nagios" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://test.galaxyproject.org</param>
            <param id="manager">stampede_nagios</param>
            <param id="persistence_directory">/srv/galaxy/test/var/pulsar_amqp_ack</param>
            <param id="amqp_acknowledge">True</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
        <plugin id="amqp_pulsar_greenfield" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://test.galaxyproject.org</param>
            <param id="manager">greenfield</param>
            <param id="persistence_directory">/srv/galaxy/test/var/pulsar_amqp_ack</param>
            <param id="amqp_acknowledge">True</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
        <plugin id="amqp_pulsar_greenfield_nagios" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://test.galaxyproject.org</param>
            <param id="manager">greenfield_nagios</param>
            <param id="persistence_directory">/srv/galaxy/test/var/pulsar_amqp_ack</param>
            <param id="amqp_acknowledge">True</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
    </plugins>
    <handlers default="handlers">
        <handler id="test_handler0" tags="handlers">
            <plugin id="local"/>
            <plugin id="slurm"/>
        </handler>
        <handler id="test_handler1" tags="handlers">
            <plugin id="local"/>
            <plugin id="slurm"/>
        </handler>
        <handler id="test_handler2">
            <plugin id="amqp_pulsar_stampede"/>
            <plugin id="amqp_pulsar_stampede_nagios"/>
            <plugin id="slurm"/>
        </handler>
        <handler id="test_handler3">
            <plugin id="amqp_pulsar_greenfield"/>
            <plugin id="amqp_pulsar_greenfield_nagios"/>
            <plugin id="slurm"/>
        </handler>
        <!-- the installer is a handler for data managers -->
        <handler id="test_installer">
            <plugin id="slurm"/>
        </handler>
    </handlers>
    <destinations default="dynamic_normal_reserved">
        <!-- dynamic methods for selecting reserved nodes -->
        <destination id="dynamic_normal_reserved" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_normal_reserved</param>
        </destination>
        <destination id="dynamic_normal_reserved_16gb" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_normal_reserved_16gb</param>
        </destination>
        <destination id="dynamic_normal_reserved_64gb" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_normal_reserved_64gb</param>
        </destination>
        <destination id="dynamic_multi_reserved" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_multi_reserved</param>
        </destination>

        <!-- dynamic method for setting roundup multi walltime, also handles the explicit Stampede resource selector -->
        <destination id="dynamic_local_stampede_select_dynamic_walltime" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_local_stampede_select_dynamic_walltime</param>
        </destination>

        <!-- dynamic method for the stampede-only selector -->
        <destination id="dynamic_stampede_select" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_stampede_select</param>
        </destination>

        <!-- dynamic method for the greenfield-only selector -->
        <destination id="dynamic_greenfield_select" runner="dynamic">
            <param id="type">python</param>
            <param id="function">dynamic_greenfield_select</param>
        </destination>

        <!-- dynamic memory rule for the naive variant caller -->
        <destination id="dynamic_nvc_dynamic_memory" runner="dynamic">
            <param id="type">python</param>
            <param id="function">nvc_dynamic_memory</param>
        </destination>

        <!-- reserved destinations -->
        <destination id="reserved" runner="slurm">
            <param id="nativeSpecification">--time=36:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=reserved</param>
        </destination>
        <destination id="reserved_16gb" runner="slurm">
            <param id="nativeSpecification">--time=36:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=reserved --mem-per-cpu=15360</param>
        </destination>
        <destination id="reserved_64gb" runner="slurm">
            <param id="nativeSpecification">--time=36:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=reserved --mem-per-cpu=61440</param>
        </destination>
        <destination id="reserved_multi" runner="slurm">
            <param id="nativeSpecification">--time=36:00:00 --clusters=roundup --nodes=1 --ntasks=4 --partition=reserved --mem-per-cpu=5120</param>
        </destination>
        <!-- dynamic must append ntasks -->
        <destination id="reserved_dynamic" runner="slurm">
            <param id="nativeSpecification">--time=48:00:00 --clusters=roundup --nodes=1 --partition=reserved --mem-per-cpu=7680</param>
        </destination>

        <!-- normal destinations -->
        <destination id="slurm_normal" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=normal</param>
        </destination>
        <destination id="slurm_normal_16gb" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --clusters=roundup --nodes=1 --ntasks=1 --partition=normal --mem-per-cpu=15360</param>
        </destination>
        <destination id="slurm_normal_64gb" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --nodes=1 --ntasks=1 --partition=multi --mem-per-cpu=61440</param>
        </destination>

        <destination id="slurm_multi" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --nodes=1 --ntasks=4 --partition=multi</param>
        </destination>
        <destination id="slurm_multi_trackster" runner="slurm">
            <param id="nativeSpecification">--time=00:05:00 --nodes=1 --ntasks=6 --partition=single</param>
        </destination>
        <destination id="slurm_multi_development" runner="slurm">
            <param id="nativeSpecification">--time=00:30:00 --clusters=roundup --nodes=1 --ntasks=2 --partition=normal</param>
        </destination>
        <destination id="slurm_multi_16c_128gb" runner="slurm">
            <param id="nativeSpecification">--nodes=1 --ntasks=16 --mem-per-cpu=7680 --partition=multi</param>
        </destination>

        <!-- dynamic modified destinations: do not use directly -->
        <destination id="slurm_multi_dynamic_walltime" runner="slurm">
            <!-- walltime is set dynamically -->
            <param id="nativeSpecification">--nodes=1 --ntasks=4 --partition=multi</param>
            <resubmit condition="walltime_reached" destination="pulsar_stampede_normal" handler="test_handler2"/>
        </destination>
        <destination id="slurm_normal_dynamic_mem" runner="slurm">
            <!-- clusters and mem-per-cpu are set dynamically -->
            <param id="nativeSpecification">--time=24:00:00 --nodes=1 --ntasks=1</param>
        </destination>

        <!-- stampede destinations -->
        <destination id="pulsar_stampede_normal" runner="amqp_pulsar_stampede">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/scratch/03166/xcgalaxy/test/staging/</param>
            <param id="remote_property_galaxy_home">/work/galaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/work/galaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/work/galaxy/test/galaxy/config/datatypes_conf.xml</param>
            <param id="submit_native_specification">--time=48:00:00 --nodes=1 --ntasks=16 --partition=normal --account=TG-MCB140147</param>
            <param id="file_action_config">{{ galaxy_config_dir }}/pulsar_stampede_actions.yml</param>
            <param id="submit_user_email">$__user_email__</param>
            <env exec="eval `/opt/apps/lmod/lmod/libexec/lmod bash purge`" />
            <env file="/work/galaxy/test/galaxy/venv/bin/activate" />
        </destination>
        <destination id="pulsar_stampede_development" runner="amqp_pulsar_stampede">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/scratch/03166/xcgalaxy/test/staging/</param>
            <param id="remote_property_galaxy_home">/work/galaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/work/galaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/work/galaxy/test/galaxy/config/datatypes_conf.xml</param>
            <param id="submit_native_specification">--time=00:30:00 --nodes=1 --ntasks=16 --partition=development --account=TG-MCB140147</param>
            <param id="file_action_config">{{ galaxy_config_dir }}/pulsar_stampede_actions.yml</param>
            <param id="submit_user_email">$__user_email__</param>
            <env exec="eval `/opt/apps/lmod/lmod/libexec/lmod bash purge`" />
            <env file="/work/galaxy/test/galaxy/venv/bin/activate" />
        </destination>
        <destination id="pulsar_stampede_nagios" runner="amqp_pulsar_stampede_nagios">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/scratch/03166/xcgalaxy/test/staging/</param>
            <param id="remote_property_galaxy_home">/work/galaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/work/galaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/work/galaxy/test/galaxy/config/datatypes_conf.xml</param>
            <param id="file_action_config">{{ galaxy_config_dir }}/pulsar_stampede_actions.yml</param>
            <env exec="eval `/opt/apps/lmod/lmod/libexec/lmod bash purge`" />
            <env file="/work/galaxy/test/galaxy/venv/bin/activate" />
        </destination>

        <!-- greenfield destinations -->
        <destination id="pulsar_greenfield_normal" runner="amqp_pulsar_greenfield">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/crucible/mc48nsp/xcgalaxy/test/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/home/xcgalaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/home/xcgalaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/home/xcgalaxy/test/galaxy/config/datatypes_conf.xml</param>
            <!-- -l ncpus is set dynamically -->
            <param id="submit_native_specification">-l walltime=72:00:00 -l nodes=1:ppn=15</param>
            <param id="submit_user_email">$__user_email__</param>
            <env exec="eval `modulecmd sh purge`" />
            <env file="/home/xcgalaxy/test/galaxy/venv/bin/activate" />
        </destination>
        <destination id="pulsar_greenfield_development" runner="amqp_pulsar_greenfield">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/crucible/mc48nsp/xcgalaxy/test/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/home/xcgalaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/home/xcgalaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/home/xcgalaxy/test/galaxy/config/datatypes_conf.xml</param>
            <param id="submit_native_specification">-q debug -l walltime=00:30:00 -l nodes=1:ppn=15</param>
            <param id="submit_user_email">$__user_email__</param>
            <env exec="eval `modulecmd sh purge`" />
            <env file="/home/xcgalaxy/test/galaxy/venv/bin/activate" />
        </destination>
        <destination id="pulsar_greenfield_nagios" runner="amqp_pulsar_greenfield_nagios">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/crucible/mc48nsp/xcgalaxy/test/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/home/xcgalaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/home/xcgalaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/home/xcgalaxy/test/galaxy/config/datatypes_conf.xml</param>
            <env exec="eval `modulecmd sh purge`" />
            <env file="/home/xcgalaxy/test/galaxy/venv/bin/activate" />
        </destination>

        <!-- local destination for nagios handler checks -->
        <destination id="local" runner="local"/>

    </destinations>
    <tools>
        <!-- explicit local multi jobs -->
        <tool id="gemini_load" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="deeptools_bamCompare" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="deeptools_bamCorrelate" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="deeptools_bamCoverage" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="deeptools_bamFingerprint" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="deeptools_bamPEFragmentSize" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="deeptools_bigwigCompare" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="deeptools_computeGCBias" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="deeptools_computeMatrix" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="deeptools_correctGCBias" destination="dynamic_multi_reserved" handler="test_handler2" />
        <tool id="kraken" destination="dynamic_multi_reserved" handler="test_handler2" />
        <!-- explicit stampede jobs -->
        <tool id="megablast_wrapper" destination="dynamic_stampede_select" handler="test_handler2" resources="stampede"/>
        <tool id="lastz_wrapper_2" destination="dynamic_stampede_select" handler="test_handler2" resources="stampede"/>
        <tool id="bwa_color_wrapper" destination="dynamic_stampede_select" handler="test_handler2" resources="stampede"/>
        <tool id="bowtie_color_wrapper" destination="dynamic_stampede_select" handler="test_handler2" resources="stampede"/>
        <tool id="bowtie_color_wrapper" destination="dynamic_stampede_select" handler="test_handler2" resources="stampede"/>
        <!-- resubmit to stampede jobs -->
        <tool id="bwa" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="bwa_mem" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="bwa_wrapper" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="bowtie2" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="bowtie_wrapper" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="tophat" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="tophat2" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="cuffdiff" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="cufflinks" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="cuffmerge" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="cuffnorm" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2"  resources="local_or_stampede"/>
        <tool id="cuffquant" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="stringtie" destination="dynamic_local_stampede_select_dynamic_walltime" handler="test_handler2"  resources="local_or_stampede"/>
        <!-- greenfield jobs -->
        <tool id="trinity_psc" destination="dynamic_greenfield_select" handler="test_handler3" resources="greenfield"/>
        <tool id="spades" destination="dynamic_greenfield_select" handler="test_handler3" resources="greenfield"/>
        <!-- trackster jobs -->
        <tool id="cufflinks" destination="slurm_multi_trackster">
            <param id="source">trackster</param>
        </tool>
        <!-- dynamic memory tools -->
        <tool id="naive_variant_caller" destination="dynamic_nvc_dynamic_memory"/>
        <!-- data managers -->
        <tool id="data_manager_fetch_genome_all_fasta" handler="test_installer"/>
        <tool id="kraken_database_builder" destination="slurm_multi_16c_128gb" handler="test_installer"/>
        <!-- 16GB tools -->
        <tool id="bamtools" destination="dynamic_normal_reserved_16gb"/>
        <tool id="varscan" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_AddCommentsToBam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_AddOrReplaceReadGroups" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_BedToIntervalList" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CleanSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CASM" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectBaseDistributionByCycle" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectGcBiasMetrics" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectInsertSizeMetrics" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectRnaSeqMetrics" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_CollectWgsMetrics" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_DownsampleSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_EstimateLibraryComplexity" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_FilterSamReads" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_FixMateInformation" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MarkDuplicates" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MarkDuplicatesWithMateCigar" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MeanQualityByCycle" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MergeBamAlignment" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_MergeSamFiles" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_NormalizeFasta" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_QualityScoreDistribution" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_ReorderSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_ReplaceSamHeader" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_RevertOriginalBaseQualitiesAndAddMateCigar" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_RevertSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_SamToFastq" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_SortSam" destination="dynamic_normal_reserved_16gb"/>
        <tool id="picard_ValidateSamFile" destination="dynamic_normal_reserved_16gb"/>
        <!-- 64GB tools -->
        <tool id="wig_to_bigWig" destination="dynamic_normal_reserved_64gb"/>
        <tool id="CONVERTER_bedgraph_to_bigwig" destination="dynamic_normal_reserved_64gb"/>
        <!-- nagios checks -->
        <!-- run wherever it lands
        <tool id="echo_test_cluster"/>
        -->
        <tool id="echo_test_handler0" destination="local" handler="test_handler0"/>
        <tool id="echo_test_handler1" destination="local" handler="test_handler1"/>
        <tool id="echo_test_stampede" destination="pulsar_stampede_nagios" handler="test_handler2"/>
        <tool id="echo_test_greenfield" destination="pulsar_greenfield_nagios" handler="test_handler3"/>
    </tools>
    <resources default="default">
        <group id="default"></group>
        <group id="local_or_stampede">tacc_compute_resource,team_cpus</group>
        <group id="stampede">stampede_compute_resource</group>
        <group id="greenfield">greenfield_compute_resource</group>
    </resources>
    <limits>
        <limit type="registered_user_concurrent_jobs">6</limit>
        <limit type="anonymous_user_concurrent_jobs">1</limit>
        <limit type="job_walltime">49:00:00</limit>
        <limit type="output_size">50G</limit>
        <!-- per-destination per-user limits -->
        <limit type="destination_user_concurrent_jobs" id="slurm_normal">2</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_normal_16gb">1</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_normal_64gb">1</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_multi">1</limit>
        <limit type="destination_user_concurrent_jobs" id="reserved">8</limit>
        <limit type="destination_user_concurrent_jobs" id="reserved_16gb">8</limit>
        <limit type="destination_user_concurrent_jobs" id="reserved_64gb">8</limit>
        <limit type="destination_user_concurrent_jobs" id="reserved_multi">8</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_multi_dynamic_walltime">2</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_multi_development">1</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_multi_trackster">1</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_stampede_normal">3</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_stampede_development">1</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_greenfield_normal">6</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_greenfield_development">1</limit>
        <!-- per-destination total limits -->
        <limit type="destination_total_concurrent_jobs" id="pulsar_stampede_normal">50</limit>
        <limit type="destination_total_concurrent_jobs" id="pulsar_stampede_development">1</limit>
        <limit type="destination_total_concurrent_jobs" id="pulsar_greenfield_normal">10</limit>
        <limit type="destination_total_concurrent_jobs" id="pulsar_greenfield_development">1</limit>
    </limits>
</job_conf>
