<?xml version="1.0"?>
<!--
    This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
-->
<job_conf>
    <plugins workers="3">
        <plugin id="dynamic" type="runner">
            <!-- These live in the virtualenv -->
            <param id="rules_module">usegalaxy.jobs.rules</param>
        </plugin>
        <plugin id="slurm" type="runner" load="galaxy.jobs.runners.slurm:SlurmJobRunner">
            <param id="drmaa_library_path">/home/g2test/slurm-drmaa-debug/lib/libdrmaa.so</param>
            <param id="invalidjobexception_retries">5</param>
            <param id="internalexception_retries">5</param>
        </plugin>
        <plugin id="amqp_pulsar_stampede" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://test.galaxyproject.org</param>
            <param id="manager">stampede</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
        <plugin id="amqp_pulsar_stampede_nagios" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://test.galaxyproject.org</param>
            <param id="manager">stampede_nagios</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
        <plugin id="amqp_pulsar_blacklight" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://test.galaxyproject.org</param>
            <param id="manager">blacklight</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
        <plugin id="amqp_pulsar_blacklight_nagios" type="runner" load="galaxy.jobs.runners.pulsar:PulsarMQJobRunner">
            <param id="amqp_url">{{ galaxy_job_conf_amqp_url }}</param>
            <param id="galaxy_url">https://test.galaxyproject.org</param>
            <param id="manager">blacklight_nagios</param>
            <param id="amqp_consumer_timeout">2.0</param>
            <param id="amqp_publish_retry">True</param>
            <param id="amqp_publish_retry_max_retries">600</param>
        </plugin>
    </plugins>
    <handlers default="handlers">
        <handler id="test_handler0" tags="handlers">
            <plugin id="slurm"/>
        </handler>
        <handler id="test_handler1" tags="handlers">
            <plugin id="slurm"/>
        </handler>
        <handler id="test_handler2">
            <plugin id="amqp_pulsar_stampede"/>
            <plugin id="amqp_pulsar_stampede_nagios"/>
            <plugin id="slurm"/>
        </handler>
        <handler id="test_handler3">
            <plugin id="amqp_pulsar_blacklight"/>
            <plugin id="amqp_pulsar_blacklight_nagios"/>
            <plugin id="slurm"/>
        </handler>
        <!-- the installer is a handler for data managers -->
        <handler id="test_installer">
            <plugin id="slurm"/>
        </handler>
    </handlers>
    <destinations default="dynamic_reserved_single">

        <!-- dynamic method for selecting reserved node -->
        <destination id="dynamic_reserved_single" runner="dynamic">
            <param id="type">python</param>
            <param id="function">reserved_single</param>
        </destination>

        <!-- dynamic method for setting roundup multi walltime, also handles the explicit Stampede resource selector -->
        <destination id="dynamic_multi_dynamic_walltime" runner="dynamic">
            <param id="type">python</param>
            <param id="function">multi_dynamic_walltime</param>
        </destination>

        <!-- dynamic method for the stampede-only selector -->
        <destination id="dynamic_stampede_select" runner="dynamic">
            <param id="type">python</param>
            <param id="function">stampede_select</param>
        </destination>

        <!-- dynamic method for the blacklight-only selector -->
        <destination id="dynamic_blacklight_select" runner="dynamic">
            <param id="type">python</param>
            <param id="function">blacklight_select</param>
        </destination>

        <!-- dynamic method for setting required memory for singlethreaded jobs -->
        <destination id="dynamic_single_dynamic_memory" runner="dynamic">
            <param id="type">python</param>
            <param id="function">single_dynamic_memory</param>
        </destination>

        <!-- dynamic memory rule for the naive variant caller -->
        <destination id="dynamic_nvc_dynamic_memory" runner="dynamic">
            <param id="type">python</param>
            <param id="function">nvc_dynamic_memory</param>
        </destination>

        <!-- static destinations -->
        <destination id="slurm_normal_single" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --clusters=rodeo,roundup --nodes=1 --ntasks=1 --partition=normal</param>
        </destination>
        <destination id="slurm_normal_single_16gb" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --clusters=rodeo,roundup --nodes=1 --ntasks=1 --partition=normal --mem-per-cpu=15360</param>
        </destination>
        <destination id="slurm_reserved_single" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --clusters=rodeo,roundup --nodes=1 --ntasks=1 --partition=reserved</param>
        </destination>
        <destination id="slurm_normal_multi" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --nodes=1 --ntasks=4 --partition=multi</param>
        </destination>
        <destination id="slurm_reserved_multi" runner="slurm">
            <param id="nativeSpecification">--time=24:00:00 --clusters=rodeo,roundup --nodes=1 --ntasks=4 --partition=reserved</param>
        </destination>
        <destination id="slurm_trackster_multi" runner="slurm">
            <param id="nativeSpecification">--time=00:05:00 --clusters=rodeo,roundup --nodes=1 --ntasks=2 --partition=normal</param>
        </destination>
        <destination id="slurm_development_multi" runner="slurm">
            <param id="nativeSpecification">--time=00:30:00 --clusters=rodeo,roundup --nodes=1 --ntasks=2 --partition=normal</param>
        </destination>

        <!-- dynamic destinations: do not use directly (without dynamic) -->
        <destination id="slurm_normal_multi_dynamic_walltime" runner="slurm">
            <!-- walltime is set dynamically -->
            <param id="nativeSpecification">--nodes=1 --ntasks=4 --partition=multi</param>
            <resubmit condition="walltime_reached" destination="pulsar_stampede_normal" handler="test_handler2"/>
        </destination>
        <destination id="slurm_normal_single_dynamic_mem" runner="slurm">
            <!-- clusters and mem-per-cpu are set dynamically -->
            <param id="nativeSpecification">--time=24:00:00 --nodes=1 --ntasks=1</param>
        </destination>

        <!-- stampede destinations -->
        <destination id="pulsar_stampede_normal" runner="amqp_pulsar_stampede">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/work/galaxy/test/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/work/galaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/work/galaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/work/galaxy/test/galaxy/config/datatypes_conf.xml</param>
            <param id="submit_native_specification">--time=48:00:00 --nodes=1 --ntasks=16 --partition=normal --account=TG-MCB140147</param>
            <param id="file_action_config">{{ galaxy_config_dir }}/pulsar_stampede_actions.yml</param>
        </destination>
        <destination id="pulsar_stampede_development" runner="amqp_pulsar_stampede">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/work/galaxy/test/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/work/galaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/work/galaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/work/galaxy/test/galaxy/config/datatypes_conf.xml</param>
            <param id="submit_native_specification">--time=00:30:00 --nodes=1 --ntasks=16 --partition=development --account=TG-MCB140147</param>
            <param id="file_action_config">{{ galaxy_config_dir }}/pulsar_stampede_actions.yml</param>
        </destination>
        <destination id="pulsar_stampede_nagios" runner="amqp_pulsar_stampede_nagios">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/work/galaxy/test/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/work/galaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/work/galaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/work/galaxy/test/galaxy/config/datatypes_conf.xml</param>
            <param id="file_action_config">{{ galaxy_config_dir }}/pulsar_stampede_actions.yml</param>
        </destination>

        <!-- blacklight destinations -->
        <destination id="pulsar_blacklight_normal" runner="amqp_pulsar_blacklight">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/brashear/xcgalaxy/test/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/brashear/xcgalaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/brashear/xcgalaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/brashear/xcgalaxy/test/galaxy/config/datatypes_conf.xml</param>
            <!-- -l ncpus is set dynamically -->
            <param id="submit_native_specification">-l walltime=48:00:00</param>
            <env exec="eval `modulecmd sh purge`" />
        </destination>
        <destination id="pulsar_blacklight_development" runner="amqp_pulsar_blacklight">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/brashear/xcgalaxy/test/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/brashear/xcgalaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/brashear/xcgalaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/brashear/xcgalaxy/test/galaxy/config/datatypes_conf.xml</param>
            <param id="submit_native_specification">-q debug -l walltime=00:30:00 -l ncpus=16</param>
            <env exec="eval `modulecmd sh purge`" />
        </destination>
        <destination id="pulsar_blacklight_nagios" runner="amqp_pulsar_blacklight_nagios">
            <param id="transport">curl</param>
            <param id="default_file_action">remote_transfer</param>
            <param id="dependency_resolution">remote</param>
            <param id="remote_metadata">true</param>
            <param id="use_remote_datatypes">true</param>
            <param id="rewrite_parameters">true</param>
            <param id="jobs_directory">/brashear/xcgalaxy/test/pulsar/var/staging/</param>
            <param id="remote_property_galaxy_home">/brashear/xcgalaxy/test/galaxy/server</param>
            <param id="remote_property_galaxy_config_file">/brashear/xcgalaxy/test/galaxy/config/galaxy.ini</param>
            <param id="remote_property_galaxy_datatypes_config_file">/brashear/xcgalaxy/test/galaxy/config/datatypes_conf.xml</param>
            <env exec="eval `modulecmd sh purge`" />
        </destination>

    </destinations>
    <tools>
        <!-- explicit roundup jobs -->
        <tool id="stringtie" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="cuffnorm" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="cuffquant" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="gemini_load" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="deeptools_bamCompare" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="deeptools_bamCorrelate" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="deeptools_bamCoverage" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="deeptools_bamFingerprint" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="deeptools_bamPEFragmentSize" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="deeptools_bigwigCompare" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="deeptools_computeGCBias" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="deeptools_computeMatrix" destination="slurm_normal_multi" handler="test_handler2" />
        <tool id="deeptools_correctGCBias" destination="slurm_normal_multi" handler="test_handler2" />
        <!-- explicit stampede jobs -->
        <tool id="megablast_wrapper" handler="test_handler2" destination="dynamic_stampede_select" resources="stampede"/>
        <tool id="lastz_wrapper_2" handler="test_handler2" destination="dynamic_stampede_select" resources="stampede"/>
        <!-- resubmit to stampede jobs -->
        <tool id="bwa" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="bwa_mem" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="bwa_wrapper" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="bowtie_wrapper" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="bowtie2" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="tophat" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="tophat2" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="cuffdiff" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="cufflinks" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <tool id="cuffmerge" destination="dynamic_multi_dynamic_walltime" handler="test_handler2" resources="local_or_stampede"/>
        <!-- blacklight jobs -->
        <tool id="trinity_blacklight" destination="dynamic_blacklight_select" handler="test_handler3" resources="blacklight"/>
        <tool id="spades" destination="dynamic_blacklight_select" handler="test_handler3" resources="blacklight"/>
        <!-- trackster jobs -->
        <tool id="cufflinks" destination="slurm_trackster_multi">
            <param id="source">trackster</param>
        </tool>
        <!-- dynamic memory tools -->
        <tool id="wig_to_bigWig" destination="dynamic_single_dynamic_memory"/>
        <tool id="bed_to_bigBed" destination="dynamic_single_dynamic_memory"/>
        <tool id="naive_variant_caller" destination="dynamic_nvc_dynamic_memory"/>
        <!-- data managers -->
        <tool id="data_manager_fetch_genome_all_fasta" handler="test_installer"/>
        <!-- nagios checks -->
        <tool id="echo_test_handler0" handler="test_handler0"/>
        <tool id="echo_test_handler1" handler="test_handler1"/>
        <tool id="echo_test_stampede" destination="pulsar_stampede_nagios" handler="test_handler2"/>
        <tool id="echo_test_blacklight" destination="pulsar_blacklight_nagios" handler="test_handler3"/>
        <!-- increased memory tools -->
        <tool id="bamtools" destination="slurm_normal_single_16gb"/>
        <tool id="picard_AddCommentsToBam" destination="slurm_normal_single_16gb"/>
        <tool id="picard_AddOrReplaceReadGroups" destination="slurm_normal_single_16gb"/>
        <tool id="picard_BedToIntervalList" destination="slurm_normal_single_16gb"/>
        <tool id="picard_CleanSam" destination="slurm_normal_single_16gb"/>
        <tool id="picard_CASM" destination="slurm_normal_single_16gb"/>
        <tool id="picard_CollectBaseDistributionByCycle" destination="slurm_normal_single_16gb"/>
        <tool id="picard_CollectGcBiasMetrics" destination="slurm_normal_single_16gb"/>
        <tool id="picard_CollectInsertSizeMetrics" destination="slurm_normal_single_16gb"/>
        <tool id="picard_CollectRnaSeqMetrics" destination="slurm_normal_single_16gb"/>
        <tool id="picard_CollectWgsMetrics" destination="slurm_normal_single_16gb"/>
        <tool id="picard_DownsampleSam" destination="slurm_normal_single_16gb"/>
        <tool id="picard_EstimateLibraryComplexity" destination="slurm_normal_single_16gb"/>
        <tool id="picard_FilterSamReads" destination="slurm_normal_single_16gb"/>
        <tool id="picard_FixMateInformation" destination="slurm_normal_single_16gb"/>
        <tool id="picard_MarkDuplicates" destination="slurm_normal_single_16gb"/>
        <tool id="picard_MarkDuplicatesWithMateCigar" destination="slurm_normal_single_16gb"/>
        <tool id="picard_MeanQualityByCycle" destination="slurm_normal_single_16gb"/>
        <tool id="picard_MergeBamAlignment" destination="slurm_normal_single_16gb"/>
        <tool id="picard_MergeSamFiles" destination="slurm_normal_single_16gb"/>
        <tool id="picard_NormalizeFasta" destination="slurm_normal_single_16gb"/>
        <tool id="picard_QualityScoreDistribution" destination="slurm_normal_single_16gb"/>
        <tool id="picard_ReorderSam" destination="slurm_normal_single_16gb"/>
        <tool id="picard_ReplaceSamHeader" destination="slurm_normal_single_16gb"/>
        <tool id="picard_RevertOriginalBaseQualitiesAndAddMateCigar" destination="slurm_normal_single_16gb"/>
        <tool id="picard_RevertSam" destination="slurm_normal_single_16gb"/>
        <tool id="picard_SamToFastq" destination="slurm_normal_single_16gb"/>
        <tool id="picard_SortSam" destination="slurm_normal_single_16gb"/>
        <tool id="picard_ValidateSamFile" destination="slurm_normal_single_16gb"/>
    </tools>
    <resources default="default">
        <group id="default"></group>
        <group id="local_or_stampede">tacc_compute_resource</group>
        <group id="stampede">stampede_compute_resource</group>
        <group id="blacklight">blacklight_compute_resource</group>
    </resources>
    <limits>
        <limit type="registered_user_concurrent_jobs">4</limit>
        <limit type="anonymous_user_concurrent_jobs">1</limit>
        <limit type="job_walltime">49:00:00</limit>
        <limit type="output_size">50G</limit>
        <!-- per-destination per-user limits -->
        <limit type="destination_user_concurrent_jobs" id="slurm_trackster_multi">1</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_normal_single">6</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_normal_multi">2</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_development_multi">4</limit>
        <limit type="destination_user_concurrent_jobs" id="slurm_normal_single_dynamic_mem">1</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_stampede_normal">3</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_stampede_development">1</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_blacklight_normal">1</limit>
        <limit type="destination_user_concurrent_jobs" id="pulsar_blacklight_development">1</limit>
        <!-- per-destination total limits -->
        <limit type="destination_total_concurrent_jobs" id="pulsar_stampede_normal">50</limit>
        <limit type="destination_total_concurrent_jobs" id="pulsar_stampede_development">1</limit>
        <limit type="destination_total_concurrent_jobs" id="pulsar_blacklight_normal">4</limit>
        <limit type="destination_total_concurrent_jobs" id="pulsar_blacklight_development">1</limit>
    </limits>
</job_conf>
